Agent_Fin_IQ/tally-bridge/n8njson/19-03-2026/Company-Tally-sync-Fin-IQ-agent (2).json
{
  "name": "Company-Tally-sync-Fin-IQ-agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        768,
        16
      ],
      "id": "2a8456f6-6b08-4c63-8316-7a0f326a36a0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bootstrap-static-bridge-url",
              "name": "bridge_base_url",
              "value": "= https://aphetically-nonaccompanying-hye.ngrok-free.dev",
              "type": "string"
            },
            {
              "id": "bootstrap-static-bridge-key",
              "name": "bridge_api_key",
              "value": "=WXuQeIpMOjxTkCsP1azLo9l0NB7GZqvUtSV6d42Jm3YhHwrE",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        992,
        16
      ],
      "id": "2c091d97-9d21-4024-b768-3d40da10d4a9",
      "name": "Set Bridge Config"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.bridge_base_url.trim() }}/tally/companies",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "ngrok-skip-browser-warning",
              "value": "1"
            },
            {
              "name": "x-api-key",
              "value": "={{ $json.bridge_api_key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1200,
        192
      ],
      "id": "52e402fb-4e21-43d8-a3bb-efedefbcfe34",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst bridge_base_url = (item.json.bridge_base_url || '').trim();\nconst bridge_api_key = item.json.bridge_api_key || '';\nconst records = item.json.records || [];\n\nconst integration_params = {\n  bridge_base_url,\n  bridge_api_key,\n  tally_port: 9000,\n  sync_enabled: true\n};\n\nif (records.length === 0) {\n  return [{\n    json: {\n      __empty_batch: true,\n      count: 0,\n      records: [],\n      bridge_base_url,\n      bridge_api_key,\n      integration_params\n    }\n  }];\n}\n\nreturn records.map(record => ({\n  json: {\n    ...record,\n    bridge_base_url,\n    bridge_api_key,\n    integration_params: {\n      ...(typeof record.integration_params === 'object' && record.integration_params !== null\n        ? record.integration_params : {}),\n      bridge_base_url,\n      bridge_api_key,\n      tally_port: (record.integration_params || {}).tally_port || 9000,\n      sync_enabled: true\n    }\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        16
      ],
      "id": "44ba8041-24b1-4bd7-8a15-5036d0aec2da",
      "name": "Parse Tally Company Records"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "early-empty-cond",
              "leftValue": "={{ $json.__empty_batch === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1888,
        16
      ],
      "id": "a387880a-5b72-4841-8ca8-46bbe62110d5",
      "name": "IF Tally Batch Empty?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  c.id AS company_id,\n  c.name,\n  c.erp_sync_id,\n  c.tally_company_name,\n  c.integration_params,\n  c.is_active,\n  c.tally_auto_sync\nFROM companies c\nWHERE c.erp_sync_id IS NOT NULL\n   OR c.tally_company_name IS NOT NULL;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2128,
        64
      ],
      "id": "b3927f87-2f73-460a-884c-dca4343cd406",
      "name": "Lookup Existing Company In DB",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "VjdvpurQiZwvlifZ",
          "name": "Agent_tally"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// DB rows from Lookup Existing Company In DB (direct input wire)\nconst dbItems = $input.all();\nconst dbMap = {};\nfor (const item of dbItems) {\n  const r = item.json;\n  if (r.erp_sync_id) dbMap[r.erp_sync_id] = r;\n  if (r.tally_company_name) dbMap[r.tally_company_name] = r;\n  if (r.name) dbMap[r.name] = r;\n}\n\n// Tally records from IF Tally Batch Empty? false branch\n// Safe to reference — IF node is purely upstream, no downstream chain\nconst tallyItems = $('IF Tally Batch Empty?').all();\n\nreturn tallyItems.map(item => {\n  const t = item.json;\n  const match =\n    dbMap[t.erp_sync_id] ||\n    dbMap[t.tally_company_name] ||\n    dbMap[t.name] ||\n    {};\n  return {\n    json: {\n      ...t,\n      company_id: match.company_id || null,\n      is_active: match.is_active !== undefined ? match.is_active : null,\n      tally_auto_sync: match.tally_auto_sync !== undefined ? match.tally_auto_sync : null\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2336,
        80
      ],
      "id": "746b9213-d08d-4a25-a21f-5b1ba1fd5bde",
      "name": "Merge Tally Record + DB Lookup"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "company-exists-cond",
              "leftValue": "={{ $json.company_id !== undefined && $json.company_id !== null && $json.company_id !== '' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2560,
        80
      ],
      "id": "0c8a045e-4bb5-4c45-bb91-99de7b50589e",
      "name": "IF Company Exists?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO companies (\n  name,\n  trade_name,\n  type,\n  gstin,\n  tax_id,\n  pan,\n  cin,\n  tan,\n  address,\n  city,\n  state,\n  pincode,\n  phone,\n  email,\n  website,\n  fy_start,\n  currency,\n  books_from,\n  erp_sync_id,\n  integration_params,\n  tally_server_url,\n  tally_company_name,\n  tally_license_serial,\n  tally_version,\n  tally_port,\n  tally_auto_sync,\n  is_active,\n  deleted_at,\n  created_at,\n  updated_at\n)\nVALUES (\n  $1, $2, $3, $4, $5, $6, $7, $8, $9, $10,\n  $11, $12, $13, $14, $15, $16, $17, $18, $19,\n  $20::jsonb,\n  $21,\n  $22, $23, $24,\n  COALESCE(($20::jsonb->>'tally_port')::integer, 9000),\n  true, true, null, now(), now()\n)\nON CONFLICT (erp_sync_id)\nDO UPDATE SET\n  name = EXCLUDED.name,\n  trade_name = EXCLUDED.trade_name,\n  type = EXCLUDED.type,\n  gstin = EXCLUDED.gstin,\n  tax_id = EXCLUDED.tax_id,\n  pan = EXCLUDED.pan,\n  cin = EXCLUDED.cin,\n  tan = EXCLUDED.tan,\n  address = EXCLUDED.address,\n  city = EXCLUDED.city,\n  state = EXCLUDED.state,\n  pincode = EXCLUDED.pincode,\n  phone = EXCLUDED.phone,\n  email = EXCLUDED.email,\n  website = EXCLUDED.website,\n  fy_start = EXCLUDED.fy_start,\n  currency = EXCLUDED.currency,\n  books_from = EXCLUDED.books_from,\n  integration_params = EXCLUDED.integration_params,\n  tally_server_url = EXCLUDED.tally_server_url,\n  tally_company_name = EXCLUDED.tally_company_name,\n  tally_license_serial = EXCLUDED.tally_license_serial,\n  tally_version = EXCLUDED.tally_version,\n  tally_port = EXCLUDED.tally_port,\n  tally_auto_sync = EXCLUDED.tally_auto_sync,\n  is_active = true,\n  deleted_at = null,\n  updated_at = now()\nRETURNING id AS company_id, name, erp_sync_id, tally_company_name;\n ",
        "options": {
          "queryReplacement": "={{ [$json.name, $json.trade_name, $json.type, $json.gstin, $json.tax_id, $json.pan, $json.cin, $json.tan, $json.address, $json.city, $json.state, $json.pincode, $json.phone, $json.email, $json.website, $json.fy_start, $json.currency, $json.books_from, $json.erp_sync_id, JSON.stringify($json.integration_params || {}), ($json.integration_params || {})['tally_server_url'] || null, $json.tally_company_name, $json.tally_license_serial, $json.tally_version] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2704,
        352
      ],
      "id": "ebe21191-2218-453b-9564-35f8ade2aaae",
      "name": "Create Bootstrap Company Row",
      "credentials": {
        "postgres": {
          "id": "VjdvpurQiZwvlifZ",
          "name": "Agent_tally"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge tally record data with company_id from either existing lookup or bootstrap insert\nconst items = $input.all();\nconst out = [];\nfor (const item of items) {\n  const row = item.json;\n  // company_id must be present at this point (either from lookup or from bootstrap insert)\n  out.push({ json: { ...row } });\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3008,
        80
      ],
      "id": "f8b525da-3f2e-431c-bdf2-0b37c864a496",
      "name": "Normalize Company ID Path"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sync_runs (\n  company_id,\n  entity_name,\n  run_status,\n  started_at,\n  fetched_count,\n  created_at,\n  updated_at\n)\nVALUES (\n  $1,\n  $2,\n  $3,\n  now(),\n  $4,\n  now(),\n  now()\n)\nRETURNING id AS sync_run_id, company_id, entity_name, run_status, started_at, fetched_count;",
        "options": {
          "queryReplacement": "={{ [$json.company_id, 'companies', 'running', Number($json.count || 0)] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3264,
        384
      ],
      "id": "ef54883d-10c5-43b9-8fa7-ba731fcd8cea",
      "name": "Postgres Create Company Sync Run",
      "credentials": {
        "postgres": {
          "id": "VjdvpurQiZwvlifZ",
          "name": "Agent_tally"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3456,
        16
      ],
      "id": "25c2aeee-5164-4533-83a2-34ab2534be4c",
      "name": "Merge Company Record + Sync Run"
    },
    {
      "parameters": {
        "jsCode": "const out = [];\n\nfor (const item of $input.all()) {\n  const row = item.json;\n  const records = row.records || [];\n  const syncRunId = row.sync_run_id || null;\n  const companyId = row.company_id || null;\n\n  if (records.length === 0 && row.__empty_batch === true) {\n    out.push({\n      json: {\n        __empty_batch: true,\n        count: 0,\n        records: [],\n        sync_run_id: syncRunId,\n        company_id: companyId\n      }\n    });\n    continue;\n  }\n\n  const toProcess = records.length > 0 ? records : [{\n    erp_sync_id: row.erp_sync_id,\n    name: row.name,\n    trade_name: row.trade_name,\n    type: row.type,\n    gstin: row.gstin,\n    tax_id: row.tax_id,\n    pan: row.pan,\n    cin: row.cin,\n    tan: row.tan,\n    address: row.address,\n    city: row.city,\n    state: row.state,\n    pincode: row.pincode,\n    phone: row.phone,\n    email: row.email,\n    website: row.website,\n    fy_start: row.fy_start,\n    currency: row.currency,\n    books_from: row.books_from,\n    tally_company_name: row.tally_company_name,\n    tally_license_serial: row.tally_license_serial,\n    tally_version: row.tally_version,\n    integration_params: row.integration_params,\n    raw_payload: row.raw_payload\n  }];\n\n  for (const record of toProcess) {\n    out.push({\n      json: {\n        ...record,\n        sync_run_id: syncRunId,\n        company_id: companyId\n      }\n    });\n  }\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3680,
        16
      ],
      "id": "2b7e57d9-07b0-4aa9-8c67-63045561da70",
      "name": "Parse Company Records"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "co000007-cond-0001-0000-000000000007",
              "leftValue": "={{ $json.__empty_batch === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3904,
        16
      ],
      "id": "d0232b3d-2b9d-461a-ada1-fdd9d71ba7c0",
      "name": "IF Empty Company Batch?"
    },
    {
      "parameters": {
        "jsCode": "const syncRunId = $json.sync_run_id || null;\nconst companyId = $json.company_id || null;\n\nreturn [{\n  json: {\n    sync_run_id: syncRunId,\n    company_id: companyId,\n    run_status: 'success',\n    fetched_count: 0,\n    staged_count: 0,\n    promoted_count: 0,\n    skipped_count: 0,\n    error_count: 0\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5696,
        -160
      ],
      "id": "72453720-cddd-4d1c-bc4e-6a9060a8c7fa",
      "name": "Build Empty Company Batch Summary"
    },
    {
      "parameters": {
        "jsCode": "const out = [];\nfor (const item of $input.all()) {\n  const row = item.json;\n  const sourceHash = [\n    row.erp_sync_id ?? '',\n    row.name ?? '',\n    row.trade_name ?? '',\n    row.type ?? '',\n    row.gstin ?? '',\n    row.tax_id ?? '',\n    row.pan ?? '',\n    row.cin ?? '',\n    row.tan ?? '',\n    row.address ?? '',\n    row.city ?? '',\n    row.state ?? '',\n    row.pincode ?? '',\n    row.phone ?? '',\n    row.email ?? '',\n    row.website ?? '',\n    row.fy_start ?? '',\n    row.currency ?? '',\n    row.books_from ?? '',\n    row.tally_company_name ?? '',\n    row.tally_license_serial ?? '',\n    row.tally_version ?? ''\n  ].join('|');\n  out.push({ json: { ...row, source_hash: sourceHash } });\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4080,
        128
      ],
      "id": "675b5831-6cbd-4a30-a208-3bdfef4261c0",
      "name": "Add Company Source Hash"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO raw_tally_companies (\n  company_id,\n  sync_run_id,\n  erp_sync_id,\n  name,\n  trade_name,\n  type,\n  gstin,\n  tax_id,\n  pan,\n  cin,\n  tan,\n  address,\n  city,\n  state,\n  pincode,\n  phone,\n  email,\n  website,\n  fy_start,\n  currency,\n  books_from,\n  tally_company_name,\n  tally_license_serial,\n  tally_version,\n  integration_params,\n  source_hash,\n  raw_payload,\n  fetched_at,\n  updated_at,\n  deleted_at\n)\nVALUES (\n  $1, $2, $3, $4, $5, $6, $7, $8, $9, $10,\n  $11, $12, $13, $14, $15, $16, $17, $18, $19, $20,\n  $21, $22, $23, $24, $25::jsonb, $26, $27::jsonb,\n  now(), now(), null\n)\nON CONFLICT (company_id, erp_sync_id)\nDO UPDATE SET\n  sync_run_id = EXCLUDED.sync_run_id,\n  name = EXCLUDED.name,\n  trade_name = EXCLUDED.trade_name,\n  type = EXCLUDED.type,\n  gstin = EXCLUDED.gstin,\n  tax_id = EXCLUDED.tax_id,\n  pan = EXCLUDED.pan,\n  cin = EXCLUDED.cin,\n  tan = EXCLUDED.tan,\n  address = EXCLUDED.address,\n  city = EXCLUDED.city,\n  state = EXCLUDED.state,\n  pincode = EXCLUDED.pincode,\n  phone = EXCLUDED.phone,\n  email = EXCLUDED.email,\n  website = EXCLUDED.website,\n  fy_start = EXCLUDED.fy_start,\n  currency = EXCLUDED.currency,\n  books_from = EXCLUDED.books_from,\n  tally_company_name = EXCLUDED.tally_company_name,\n  tally_license_serial = EXCLUDED.tally_license_serial,\n  tally_version = EXCLUDED.tally_version,\n  integration_params = EXCLUDED.integration_params,\n  source_hash = EXCLUDED.source_hash,\n  raw_payload = EXCLUDED.raw_payload,\n  fetched_at = now(),\n  updated_at = now(),\n  deleted_at = null\nRETURNING id, company_id, erp_sync_id, sync_run_id, name;",
        "options": {
          "queryReplacement": "={{ [$json.company_id, $json.sync_run_id, $json.erp_sync_id, $json.name, $json.trade_name, $json.type, $json.gstin, $json.tax_id, $json.pan, $json.cin, $json.tan, $json.address, $json.city, $json.state, $json.pincode, $json.phone, $json.email, $json.website, $json.fy_start, $json.currency, $json.books_from, $json.tally_company_name, $json.tally_license_serial, $json.tally_version, JSON.stringify($json.integration_params || {}), $json.source_hash, JSON.stringify($json.raw_payload || {})] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4352,
        128
      ],
      "id": "728137cd-69c9-4ed6-9d2b-f2835e16e092",
      "name": "Postgres Raw Stage Companies",
      "credentials": {
        "postgres": {
          "id": "VjdvpurQiZwvlifZ",
          "name": "Agent_tally"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "co000011-cond-0001-0000-000000000011",
              "leftValue": "={{ $json.error !== undefined }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4576,
        128
      ],
      "id": "bbb50bcc-7dfd-49e5-a7cd-da10ef24203d",
      "name": "IF Raw Stage Companies Failed"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE companies\nSET\n  name = r.name,\n  trade_name = r.trade_name,\n  type = r.type,\n  gstin = r.gstin,\n  tax_id = r.tax_id,\n  pan = r.pan,\n  cin = r.cin,\n  tan = r.tan,\n  address = r.address,\n  city = r.city,\n  state = r.state,\n  pincode = r.pincode,\n  phone = r.phone,\n  email = r.email,\n  website = r.website,\n  fy_start = r.fy_start,\n  currency = r.currency,\n  books_from = r.books_from,\n  tally_server_url = r.integration_params->>'tally_server_url',\n  tally_company_name = r.tally_company_name,\n  tally_license_serial = r.tally_license_serial,\n  tally_version = r.tally_version,\n  tally_port = COALESCE((r.integration_params->>'tally_port')::integer, 9000),\n  tally_auto_sync = true,\n  source_hash = r.source_hash,\n  is_active = true,\n  deleted_at = null,\n  updated_at = now()\nFROM raw_tally_companies r\nWHERE companies.id = $1\n  AND r.company_id = $1\n  AND r.erp_sync_id = $2\n  AND companies.source_hash IS DISTINCT FROM r.source_hash\nRETURNING companies.id, companies.erp_sync_id, companies.name, companies.source_hash;",
        "options": {
          "queryReplacement": "={{ [$json.company_id, $json.erp_sync_id] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4800,
        80
      ],
      "id": "e2dd14a2-2ac4-4f4a-abba-b4b40646fdc1",
      "name": "Postgres Promote Companies",
      "credentials": {
        "postgres": {
          "id": "VjdvpurQiZwvlifZ",
          "name": "Agent_tally"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "co000013-cond-0001-0000-000000000013",
              "leftValue": "={{ $json.error !== undefined }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5024,
        80
      ],
      "id": "aa23a5a4-0cce-4dff-84d2-3c37e455e75e",
      "name": "IF Promote Companies Failed"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        5248,
        256
      ],
      "id": "332a906d-55df-4fa5-aed6-a3fb7a67d280",
      "name": "Merge Fail Path"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (items.length === 0) {\n  return [{ json: { __success_branch: true } }];\n}\nreturn items.map(i => ({ json: { ...i.json, __success_branch: true } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5248,
        32
      ],
      "id": "aa2430c6-42d5-47d2-b055-f2c9d1a5ccc9",
      "name": "Merge Company Success Path"
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\n\nconst syncRunItem = allItems.find(i => i.json.sync_run_id !== undefined);\nconst syncRunId = syncRunItem?.json?.sync_run_id ?? null;\nconst companyId = syncRunItem?.json?.company_id ?? null;\nconst fetchedCount = Number(syncRunItem?.json?.fetched_count || 0);\n\nconst promoted = allItems.filter(i => {\n  const j = i.json || {};\n  return !!(j.id && j.erp_sync_id && j.source_hash);\n}).length;\n\nconst staged = allItems.filter(i => {\n  const j = i.json || {};\n  return !!(j.erp_sync_id || j.id);\n}).length;\n\nconst skipped = Math.max(fetchedCount - promoted, 0);\n\nreturn [{\n  json: {\n    sync_run_id: syncRunId,\n    company_id: companyId,\n    run_status: 'success',\n    fetched_count: fetchedCount,\n    staged_count: staged,\n    promoted_count: promoted,\n    skipped_count: skipped,\n    error_count: 0\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5696,
        128
      ],
      "id": "1a43124b-98b4-4ec6-a098-b28827545c9e",
      "name": "Build Company Sync Summary"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE sync_runs\nSET\n  run_status = $2,\n  completed_at = now(),\n  fetched_count = $3,\n  staged_count = $4,\n  promoted_count = $5,\n  skipped_count = $6,\n  error_count = $7,\n  updated_at = now()\nWHERE id = $1\nRETURNING id AS sync_run_id, company_id, entity_name, run_status, completed_at, fetched_count, staged_count, promoted_count, skipped_count, error_count;",
        "options": {
          "queryReplacement": "={{ [$json.sync_run_id, $json.run_status, $json.fetched_count, $json.staged_count, $json.promoted_count, $json.skipped_count, $json.error_count] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5920,
        -64
      ],
      "id": "32dc0292-46d5-49cc-a817-dcfce2037ee2",
      "name": "Postgres Complete Company Sync Run",
      "credentials": {
        "postgres": {
          "id": "VjdvpurQiZwvlifZ",
          "name": "Agent_tally"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH deactivated AS (\n  UPDATE companies c\n  SET\n    is_active = false,\n    deleted_at = now(),\n    updated_at = now()\n  WHERE c.id = $2\n    AND c.erp_sync_id IS NOT NULL\n    AND c.is_active = true\n    AND NOT EXISTS (\n      SELECT 1\n      FROM raw_tally_companies r\n      WHERE r.erp_sync_id = c.erp_sync_id\n        AND r.company_id = $2\n        AND r.sync_run_id = $1\n        AND r.deleted_at IS NULL\n    )\n  RETURNING c.id AS company_id\n)\nSELECT $1::text AS sync_run_id, $2::text AS company_id, COUNT(*) AS deactivated_count FROM deactivated;",
        "options": {
          "queryReplacement": "={{ [$json.sync_run_id, $json.company_id] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6144,
        -64
      ],
      "id": "1bc09223-dc9f-484a-8e92-e20617291e86",
      "name": "Postgres Reconcile Missing Companies",
      "credentials": {
        "postgres": {
          "id": "VjdvpurQiZwvlifZ",
          "name": "Agent_tally"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH reactivated AS (\n  UPDATE companies c\n  SET\n    is_active = true,\n    deleted_at = null,\n    updated_at = now()\n  FROM raw_tally_companies r\n  WHERE r.erp_sync_id = c.erp_sync_id\n    AND c.id = $2\n    AND r.company_id = $2\n    AND c.erp_sync_id IS NOT NULL\n    AND r.sync_run_id = $1\n    AND r.deleted_at IS NULL\n    AND (c.is_active = false OR c.deleted_at IS NOT NULL)\n  RETURNING c.id AS company_id\n)\nSELECT $1::text AS sync_run_id, $2::text AS company_id, COUNT(*) AS reactivated_count FROM reactivated;",
        "options": {
          "queryReplacement": "={{ [$json.sync_run_id, $json.company_id] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6368,
        -64
      ],
      "id": "1ac17c78-61d0-41e3-b391-836aafaa1ef4",
      "name": "Postgres Reactivate Reappeared Companies",
      "credentials": {
        "postgres": {
          "id": "VjdvpurQiZwvlifZ",
          "name": "Agent_tally"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE sync_runs\nSET\n  run_status = $2,\n  completed_at = now(),\n  error_count = $3,\n  error_message = $4,\n  updated_at = now()\nWHERE id = $1\nRETURNING id, company_id, entity_name, run_status, completed_at, error_count, error_message;",
        "options": {
          "queryReplacement": "={{ [$json.sync_run_id || $json.id, 'failed', 1, $json.error?.description || $json.error?.message || 'workflow_failed'] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5472,
        320
      ],
      "id": "0baeead2-5481-4cdd-a224-6c9f0517ef70",
      "name": "Postgres Fail Company Sync Run",
      "credentials": {
        "postgres": {
          "id": "VjdvpurQiZwvlifZ",
          "name": "Agent_tally"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Early empty batch — no company rows needed, just return minimal summary\nreturn [{\n  json: {\n    __empty_batch: true,\n    sync_run_id: null,\n    company_id: null,\n    run_status: 'success',\n    fetched_count: 0,\n    staged_count: 0,\n    promoted_count: 0,\n    skipped_count: 0,\n    error_count: 0\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2112,
        -160
      ],
      "id": "259aab0b-c8a2-4da0-9e75-ddbd85478701",
      "name": "Build Early Empty Summary"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1440,
        16
      ],
      "id": "bbf2c8de-9f07-4d92-a871-9a57fc25ae2e",
      "name": "Merge Bridge Config + HTTP Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "early-empty-noop",
              "name": "workflow_result",
              "value": "early_empty_batch_no_op",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2336,
        -160
      ],
      "id": "0ccb2ba2-4e35-4306-bc55-c3a2f5f91210",
      "name": "Early Empty Batch Terminal"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        5472,
        128
      ],
      "id": "2e2c89d1-1367-4751-87c0-489f061d1edb",
      "name": "Merge Final Success + Sync Run"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Bridge Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Bridge Config": {
      "main": [
        [
          {
            "node": "Merge Bridge Config + HTTP Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge Bridge Config + HTTP Response",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Parse Tally Company Records": {
      "main": [
        [
          {
            "node": "IF Tally Batch Empty?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Tally Batch Empty?": {
      "main": [
        [
          {
            "node": "Build Early Empty Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lookup Existing Company In DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Existing Company In DB": {
      "main": [
        [
          {
            "node": "Merge Tally Record + DB Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Tally Record + DB Lookup": {
      "main": [
        [
          {
            "node": "IF Company Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Company Exists?": {
      "main": [
        [
          {
            "node": "Normalize Company ID Path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Bootstrap Company Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Bootstrap Company Row": {
      "main": [
        [
          {
            "node": "Normalize Company ID Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Company ID Path": {
      "main": [
        [
          {
            "node": "Postgres Create Company Sync Run",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Company Record + Sync Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Create Company Sync Run": {
      "main": [
        [
          {
            "node": "Merge Company Record + Sync Run",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge Fail Path",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge Final Success + Sync Run",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Company Record + Sync Run": {
      "main": [
        [
          {
            "node": "Parse Company Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Company Records": {
      "main": [
        [
          {
            "node": "IF Empty Company Batch?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Empty Company Batch?": {
      "main": [
        [
          {
            "node": "Build Empty Company Batch Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Company Source Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Empty Company Batch Summary": {
      "main": [
        [
          {
            "node": "Postgres Complete Company Sync Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Company Source Hash": {
      "main": [
        [
          {
            "node": "Postgres Raw Stage Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Raw Stage Companies": {
      "main": [
        [
          {
            "node": "IF Raw Stage Companies Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Raw Stage Companies Failed": {
      "main": [
        [
          {
            "node": "Merge Fail Path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres Promote Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Promote Companies": {
      "main": [
        [
          {
            "node": "IF Promote Companies Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Promote Companies Failed": {
      "main": [
        [
          {
            "node": "Merge Fail Path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Company Success Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Fail Path": {
      "main": [
        [
          {
            "node": "Postgres Fail Company Sync Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Company Success Path": {
      "main": [
        [
          {
            "node": "Merge Final Success + Sync Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Company Sync Summary": {
      "main": [
        [
          {
            "node": "Postgres Complete Company Sync Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Complete Company Sync Run": {
      "main": [
        [
          {
            "node": "Postgres Reconcile Missing Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Reconcile Missing Companies": {
      "main": [
        [
          {
            "node": "Postgres Reactivate Reappeared Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Early Empty Summary": {
      "main": [
        [
          {
            "node": "Early Empty Batch Terminal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Bridge Config + HTTP Response": {
      "main": [
        [
          {
            "node": "Parse Tally Company Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Final Success + Sync Run": {
      "main": [
        [
          {
            "node": "Build Company Sync Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "624f67db-b2ac-44ba-975a-ec8d6119d6bf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fe87abab93976eca6631118b38b52697a4e1d467e3d1f389d6cf8d0dd8eea021"
  },
  "id": "8FPJja0FXg4i0MMa",
  "tags": []
}