Agent_Fin_IQ/tally-bridge/n8njson/19-03-2026/Ledger-Vendor-Tally_sync-Fin-IQ-agent (3).json
{
  "name": "Ledger-Vendor-Tally_sync-Fin-IQ-agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -3616,
        1328
      ],
      "id": "a33295ea-7d56-490f-aade-a54b2c087b38",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  id AS company_id,\n  name,\n  integration_params,\n  tally_company_name,\n  is_active,\n  tally_auto_sync\nFROM companies\nWHERE is_active = true\n  AND tally_auto_sync = true\n  AND integration_params IS NOT NULL\n  AND integration_params->>'bridge_base_url' IS NOT NULL\n  AND integration_params->>'bridge_api_key' IS NOT NULL;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3392,
        1328
      ],
      "id": "a4ea9c33-63fd-48ea-9952-1938b5f9351c",
      "name": "Get Companies To Sync",
      "credentials": {
        "postgres": {
          "id": "VjdvpurQiZwvlifZ",
          "name": "Agent_tally"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst out = [];\nfor (const item of items) {\n  const row = item.json;\n  const params = typeof row.integration_params === 'string' ? JSON.parse(row.integration_params) : (row.integration_params || {});\n  const bridge_base_url = (params['bridge_base_url'] || '').trim();\n  const bridge_api_key = params['bridge_api_key'] || '';\n  if (!bridge_base_url || !bridge_api_key) continue;\n  out.push({\n    json: {\n      company_id: row.company_id,\n      name: row.name,\n      tally_company_name: row.tally_company_name,\n      is_active: row.is_active,\n      tally_auto_sync: row.tally_auto_sync,\n      bridge_base_url,\n      bridge_api_key\n    }\n  });\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3168,
        1328
      ],
      "id": "bbce7ab0-9b23-4644-a6eb-84aa6bf053dc",
      "name": "Extract Bridge Config Per Company"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.bridge_base_url.trim() }}/tally/ledgers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "ngrok-skip-browser-warning",
              "value": "1"
            },
            {
              "name": "x-api-key",
              "value": "={{ $json.bridge_api_key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2960,
        1552
      ],
      "id": "8a6d037e-8126-4fdf-b4d6-87f9811e7f7d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2720,
        1328
      ],
      "id": "8be09623-08bc-4a0a-8fcd-92b9447a74c8",
      "name": "Merge Company Config + HTTP Response"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sync_runs (\n  company_id,\n  entity_name,\n  run_status,\n  started_at,\n  fetched_count,\n  created_at,\n  updated_at\n)\nVALUES (\n  $1,\n  $2,\n  $3,\n  now(),\n  $4,\n  now(),\n  now()\n)\nRETURNING id AS sync_run_id, company_id, entity_name, run_status, started_at, fetched_count;",
        "options": {
          "queryReplacement": "={{ [$json.company_id, 'ledgers_and_vendors', 'running', Number($json.count || 0)] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2496,
        1824
      ],
      "id": "5603bdb7-9584-45db-aef5-85aa9da9b357",
      "name": "Postgres Create Sync Run",
      "credentials": {
        "postgres": {
          "id": "VjdvpurQiZwvlifZ",
          "name": "Agent_tally"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2272,
        1200
      ],
      "id": "342e3312-19ee-46f3-a29b-28f66dc7250b",
      "name": "Merge HTTP + Sync Run"
    },
    {
      "parameters": {
        "jsCode": "const records = $json.records || [];\nconst syncRunId = $json.sync_run_id || null;\nconst companyId = $json.company_id || null;\n\nif (records.length === 0) {\n  return [\n    {\n      json: {\n        __empty_batch: true,\n        count: 0,\n        records: [],\n        sync_run_id: syncRunId,\n        company_id: companyId\n      }\n    }\n  ];\n}\n\nreturn records.map(record => ({\n  json: {\n    ...record,\n    sync_run_id: syncRunId,\n    company_id: companyId\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2048,
        1200
      ],
      "id": "7dbdb582-1389-4c4e-bb1b-166d348e99d1",
      "name": "Parse Bridge Records"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "lv000007-cond-0001-0000-000000000007",
              "leftValue": "={{ $json.__empty_batch === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1824,
        1200
      ],
      "id": "7694e9c1-cc4c-4b47-8876-80ff471c56d5",
      "name": "IF Empty Batch?"
    },
    {
      "parameters": {
        "jsCode": "const syncRunId =\n  $json.sync_run_id ??\n  $(\"Postgres Create Sync Run\").first().json.sync_run_id ??\n  null;\n\nconst companyId =\n  $json.company_id ??\n  $(\"Postgres Create Sync Run\").first().json.company_id ??\n  null;\n\nreturn [\n  {\n    json: {\n      sync_run_id: syncRunId,\n      company_id: companyId,\n      run_status: \"success\",\n      fetched_count: 0,\n      staged_count: 0,\n      promoted_count: 0,\n      skipped_count: 0,\n      error_count: 0\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        864
      ],
      "id": "b66230c3-97fd-4544-aa6f-121e115cffc8",
      "name": "Build Empty Batch Summary"
    },
    {
      "parameters": {
        "jsCode": "const ledgerItems = [];\nconst vendorItems = [];\n\nfor (const item of $input.all()) {\n  const pg = item.json.parent_group || '';\n  if (pg.trim() === 'Sundry Creditors') {\n    vendorItems.push(item);\n  } else {\n    ledgerItems.push(item);\n  }\n}\n\nconst out = [];\nfor (const i of ledgerItems) {\n  out.push({ json: { ...i.json, __entity_type: 'ledger' } });\n}\nfor (const i of vendorItems) {\n  out.push({ json: { ...i.json, __entity_type: 'vendor' } });\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1600,
        1296
      ],
      "id": "adc7b9fa-d0fc-4a9f-bc91-9d38e414afcf",
      "name": "Split Ledgers vs Vendors"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "lv000010-cond-0001-0000-000000000010",
              "leftValue": "={{ $json.__entity_type }}",
              "rightValue": "ledger",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1376,
        1296
      ],
      "id": "0ca5525f-6d75-405d-af57-2a10926b7a9f",
      "name": "Route by Entity Type"
    },
    {
      "parameters": {
        "jsCode": "const out = [];\nfor (const item of $input.all()) {\n  const row = item.json;\n  const gst = row.gst_details || {};\n  const sourceHash = [\n    row.erp_sync_id ?? '',\n    row.ledger_code ?? '',\n    row.name ?? '',\n    row.account_type ?? '',\n    row.parent_group ?? '',\n    gst.party_gstin ?? '',\n    gst.gst_registration_type ?? '',\n    gst.income_tax_number ?? '',\n    gst.is_billwise_on ?? ''\n  ].join('|');\n  out.push({ json: { ...row, source_hash: sourceHash } });\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1152,
        1088
      ],
      "id": "2223339a-fa08-4301-ab89-bd1c9f8ce9d0",
      "name": "Add Ledger Source Hash"
    },
    {
      "parameters": {
        "jsCode": "// Safe value extractor\nfunction tv(val) {\n  if (val === null || val === undefined) return null;\n  if (Array.isArray(val)) {\n    const parts = val.map(tv).filter(v => v !== null && v !== '');\n    return parts.length > 0 ? parts.join(', ') : null;\n  }\n  if (typeof val === 'object') {\n    if ('#text' in val) {\n      const t = String(val['#text']).trim();\n      return t === '' ? null : t;\n    }\n    return null;\n  }\n  const s = String(val).trim();\n  return s === '' ? null : s;\n}\n\nfunction extractAddress(addrList) {\n  if (addrList === null || addrList === undefined) return null;\n  if (typeof addrList === 'string') {\n    const s = addrList.trim();\n    return s === '' ? null : s;\n  }\n  if (Array.isArray(addrList)) {\n    const parts = addrList.map(a => {\n      if (typeof a === 'object' && a !== null) {\n        return tv(a['ADDRESS']) ?? tv(a['#text']) ?? null;\n      }\n      return tv(a);\n    }).filter(v => v !== null && v !== '');\n    return parts.length > 0 ? parts.join(', ') : null;\n  }\n  if (typeof addrList === 'object') {\n    const inner = addrList['ADDRESS'];\n    if (inner !== undefined) {\n      if (Array.isArray(inner)) {\n        const parts = inner.map(tv).filter(v => v !== null && v !== '');\n        return parts.length > 0 ? parts.join(', ') : null;\n      }\n      return tv(inner);\n    }\n    return tv(addrList['#text']) ?? null;\n  }\n  return null;\n}\n\nconst out = [];\nfor (const item of $input.all()) {\n  const row = item.json;\n  const gst = row.gst_details || {};\n  const raw = row.raw_payload || {};\n  const companyId = row.company_id || null;\n  const syncRunId = row.sync_run_id || null;\n\n  const vendorCode = null;\n  const gstin = tv(raw['PARTYGSTIN']) ?? tv(gst.party_gstin) ?? null;\n  const taxId = tv(raw['INCOMETAXNUMBER']) ?? tv(gst.income_tax_number) ?? null;\n  const underGroup = row.parent_group ?? null;\n  const tallyLedgerName = row.name ?? null;\n  const address = extractAddress(raw['ADDRESS.LIST'])?.replace(/,/g, ' ') ?? null;\n  const pincode = tv(raw['PINCODE']);\n  const state = tv(raw['LEDGERSTATENAME']);\n  const phone = tv(raw['LEDGERPHONE']);\n  const email = tv(raw['EMAIL']);\n\n  const sourceHash = [\n    row.erp_sync_id ?? '',\n    vendorCode ?? '',\n    row.name ?? '',\n    gstin ?? '',\n    taxId ?? '',\n    underGroup ?? '',\n    state ?? '',\n    address ?? '',\n    '',\n    '',\n    pincode ?? '',\n    phone ?? '',\n    email ?? '',\n    tallyLedgerName ?? '',\n    ''\n  ].join('|');\n\n  out.push({\n    json: {\n      sync_run_id: syncRunId,\n      company_id: companyId,\n      erp_sync_id: row.erp_sync_id,\n      vendor_code: vendorCode,\n      name: row.name ?? null,\n      gstin,\n      tax_id: taxId,\n      under_group: underGroup,\n      state,\n      address,\n      pan: null,\n      city: null,\n      pincode,\n      phone,\n      email,\n      tally_ledger_name: tallyLedgerName,\n      alias: null,\n      source_hash: sourceHash,\n      raw_payload: raw\n    }\n  });\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1152,
        1520
      ],
      "id": "66edc7c7-3689-46bc-aa49-3e3d7e0df25c",
      "name": "Add Vendor Source Hash"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO raw_tally_ledger_master (\n  company_id,\n  sync_run_id,\n  erp_sync_id,\n  ledger_code,\n  name,\n  account_type,\n  parent_group,\n  is_active,\n  gst_details,\n  source_hash,\n  raw_payload,\n  fetched_at,\n  updated_at,\n  deleted_at\n)\nVALUES (\n  $1, $2, $3, $4, $5, $6, $7,\n  true,\n  $8::jsonb,\n  $9,\n  $10::jsonb,\n  now(), now(), null\n)\nON CONFLICT (company_id, erp_sync_id)\nDO UPDATE SET\n  sync_run_id = EXCLUDED.sync_run_id,\n  ledger_code = EXCLUDED.ledger_code,\n  name = EXCLUDED.name,\n  account_type = EXCLUDED.account_type,\n  parent_group = EXCLUDED.parent_group,\n  is_active = true,\n  gst_details = EXCLUDED.gst_details,\n  source_hash = EXCLUDED.source_hash,\n  raw_payload = EXCLUDED.raw_payload,\n  fetched_at = now(),\n  updated_at = now(),\n  deleted_at = null\nRETURNING id, company_id, erp_sync_id, sync_run_id, name;",
        "options": {
          "queryReplacement": "={{ [$json.company_id, $json.sync_run_id, $json.erp_sync_id, $json.ledger_code, $json.name, $json.account_type, $json.parent_group, JSON.stringify($json.gst_details || {}), $json.source_hash, JSON.stringify($json.raw_payload || {})] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -928,
        1088
      ],
      "id": "299eac9d-cd46-4e3b-b1e3-38ef98b80629",
      "name": "Postgres Raw Stage Ledgers",
      "credentials": {
        "postgres": {
          "id": "VjdvpurQiZwvlifZ",
          "name": "Agent_tally"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO raw_tally_vendors (\n  company_id,\n  sync_run_id,\n  erp_sync_id,\n  vendor_code,\n  name,\n  gstin,\n  tax_id,\n  under_group,\n  state,\n  address,\n  pan,\n  city,\n  pincode,\n  phone,\n  email,\n  tally_ledger_name,\n  alias,\n  source_hash,\n  raw_payload,\n  fetched_at,\n  updated_at,\n  deleted_at\n)\nVALUES (\n  $1, $2, $3, $4, $5, $6, $7, $8, $9, $10,\n  $11, $12, $13, $14, $15, $16, $17, $18,\n  $19::jsonb,\n  now(), now(), null\n)\nON CONFLICT (company_id, erp_sync_id)\nDO UPDATE SET\n  sync_run_id = EXCLUDED.sync_run_id,\n  vendor_code = EXCLUDED.vendor_code,\n  name = EXCLUDED.name,\n  gstin = EXCLUDED.gstin,\n  tax_id = EXCLUDED.tax_id,\n  under_group = EXCLUDED.under_group,\n  state = EXCLUDED.state,\n  address = EXCLUDED.address,\n  pan = EXCLUDED.pan,\n  city = EXCLUDED.city,\n  pincode = EXCLUDED.pincode,\n  phone = EXCLUDED.phone,\n  email = EXCLUDED.email,\n  tally_ledger_name = EXCLUDED.tally_ledger_name,\n  alias = EXCLUDED.alias,\n  source_hash = EXCLUDED.source_hash,\n  raw_payload = EXCLUDED.raw_payload,\n  fetched_at = now(),\n  updated_at = now(),\n  deleted_at = null\nRETURNING id, company_id, erp_sync_id, sync_run_id, name;",
        "options": {
          "queryReplacement": "={{ [$json.company_id, $json.sync_run_id, $json.erp_sync_id, $json.vendor_code, $json.name, $json.gstin, $json.tax_id, $json.under_group, $json.state, $json.address, $json.pan, $json.city, $json.pincode, $json.phone, $json.email, $json.tally_ledger_name, $json.alias, $json.source_hash, JSON.stringify($json.raw_payload || {})] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -928,
        1520
      ],
      "id": "4c925631-e738-4f1f-b093-7fc6d7481283",
      "name": "Postgres Raw Stage Vendors",
      "credentials": {
        "postgres": {
          "id": "VjdvpurQiZwvlifZ",
          "name": "Agent_tally"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "lv000029-cond",
              "leftValue": "={{ $json.error !== undefined }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -704,
        1088
      ],
      "id": "71986840-ad79-49ff-b8a2-a8f21d95004b",
      "name": "IF Raw Stage Ledgers Failed"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "lv000030-cond",
              "leftValue": "={{ $json.error !== undefined }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -704,
        1520
      ],
      "id": "07f18c15-72fc-42c7-bdb5-b4d73d87b861",
      "name": "IF Raw Stage Vendors Failed"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ledger_master (\n  company_id,\n  ledger_code,\n  name,\n  account_type,\n  erp_sync_id,\n  parent_group,\n  is_active,\n  gst_details,\n  source_hash,\n  synced_at,\n  created_at,\n  updated_at,\n  deleted_at\n)\nSELECT\n  r.company_id,\n  r.ledger_code,\n  r.name,\n  r.account_type,\n  r.erp_sync_id,\n  r.parent_group,\n  true,\n  r.gst_details,\n  r.source_hash,\n  now(),\n  now(),\n  now(),\n  null\nFROM raw_tally_ledger_master r\nWHERE r.company_id = $1\n  AND r.erp_sync_id = $2\n  AND COALESCE(r.parent_group, '') != 'Sundry Creditors'\nON CONFLICT (company_id, erp_sync_id)\nDO UPDATE SET\n  ledger_code = EXCLUDED.ledger_code,\n  name = EXCLUDED.name,\n  account_type = EXCLUDED.account_type,\n  parent_group = EXCLUDED.parent_group,\n  is_active = true,\n  gst_details = EXCLUDED.gst_details,\n  source_hash = EXCLUDED.source_hash,\n  synced_at = now(),\n  updated_at = now(),\n  deleted_at = null\nWHERE ledger_master.source_hash IS DISTINCT FROM EXCLUDED.source_hash\nRETURNING id, company_id, erp_sync_id, name, source_hash;",
        "options": {
          "queryReplacement": "={{ [$json.company_id, $json.erp_sync_id] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -480,
        1056
      ],
      "id": "f3919a9e-d0c6-409a-b183-90db588f3a05",
      "name": "Postgres Promote Ledgers",
      "credentials": {
        "postgres": {
          "id": "VjdvpurQiZwvlifZ",
          "name": "Agent_tally"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO vendors (\n  company_id,\n  vendor_code,\n  name,\n  gstin,\n  tax_id,\n  under_group,\n  state,\n  address,\n  pan,\n  city,\n  pincode,\n  phone,\n  email,\n  tally_ledger_name,\n  alias,\n  erp_sync_id,\n  status,\n  is_synced_from_tally,\n  source_hash,\n  created_at,\n  updated_at,\n  deleted_at\n)\nSELECT\n  r.company_id,\n  r.vendor_code,\n  r.name,\n  r.gstin,\n  r.tax_id,\n  r.under_group,\n  r.state,\n  r.address,\n  r.pan,\n  r.city,\n  r.pincode,\n  r.phone,\n  r.email,\n  r.tally_ledger_name,\n  r.alias,\n  r.erp_sync_id,\n  'Active',\n  true,\n  r.source_hash,\n  now(),\n  now(),\n  null\nFROM raw_tally_vendors r\nWHERE r.company_id = $1\n  AND r.erp_sync_id = $2\nON CONFLICT (company_id, erp_sync_id)\nDO UPDATE SET\n  vendor_code = EXCLUDED.vendor_code,\n  name = EXCLUDED.name,\n  gstin = EXCLUDED.gstin,\n  tax_id = EXCLUDED.tax_id,\n  under_group = EXCLUDED.under_group,\n  state = EXCLUDED.state,\n  address = EXCLUDED.address,\n  pan = EXCLUDED.pan,\n  city = EXCLUDED.city,\n  pincode = EXCLUDED.pincode,\n  phone = EXCLUDED.phone,\n  email = EXCLUDED.email,\n  tally_ledger_name = EXCLUDED.tally_ledger_name,\n  alias = EXCLUDED.alias,\n  status = 'Active',\n  is_synced_from_tally = true,\n  source_hash = EXCLUDED.source_hash,\n  updated_at = now(),\n  deleted_at = null\nWHERE vendors.source_hash IS DISTINCT FROM EXCLUDED.source_hash\nRETURNING id, company_id, erp_sync_id, name, source_hash;",
        "options": {
          "queryReplacement": "={{ [$json.company_id, $json.erp_sync_id] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -480,
        1392
      ],
      "id": "56d29306-ec1e-4a00-b0ab-033a27fa9a8e",
      "name": "Postgres Promote Vendors",
      "credentials": {
        "postgres": {
          "id": "VjdvpurQiZwvlifZ",
          "name": "Agent_tally"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "lv000017-cond",
              "leftValue": "={{ $json.error !== undefined }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -256,
        1056
      ],
      "id": "f438f976-c59c-480d-9dd1-520705a98e10",
      "name": "IF Promote Ledgers Failed"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "lv000018-cond",
              "leftValue": "={{ $json.error !== undefined }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -256,
        1392
      ],
      "id": "093803f6-c213-419d-a727-0ba8e38f2239",
      "name": "IF Promote Vendors Failed"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -32,
        1440
      ],
      "id": "6a9f1708-ad2d-4766-8e7b-62646dd773c1",
      "name": "Merge Fail Path"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE sync_runs\nSET\n  run_status = $2,\n  completed_at = now(),\n  error_count = $3,\n  error_message = $4,\n  updated_at = now()\nWHERE id = $1\nRETURNING id, company_id, entity_name, run_status, completed_at, error_count, error_message;",
        "options": {
          "queryReplacement": "={{ [$json.sync_run_id || $json.id, 'failed', 1, $json.error?.description || $json.error?.message || 'workflow_failed'] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        192,
        1440
      ],
      "id": "4547658a-3e17-40f2-86fa-b7adecf3ecd8",
      "name": "Postgres Fail Sync Run",
      "credentials": {
        "postgres": {
          "id": "VjdvpurQiZwvlifZ",
          "name": "Agent_tally"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (items.length === 0) {\n  return [{ json: { __success_branch: true } }];\n}\nreturn items.map(i => ({ json: { ...i.json, __success_branch: true } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        1136
      ],
      "id": "c4eb2642-4b0f-4f67-abb4-fcf9d222a2e3",
      "name": "Merge Both Success Paths"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        192,
        1136
      ],
      "id": "22182921-52d3-44ff-adf9-3f51fe8bb3b6",
      "name": "Merge Final Success + Sync Run"
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\n\nconst syncRunItem = allItems.find(i => i.json.sync_run_id !== undefined);\nconst syncRunId = syncRunItem?.json?.sync_run_id ?? null;\nconst companyId = syncRunItem?.json?.company_id ?? null;\n\nconst fetchedCount = Number($(\"HTTP Request\").first().json.count || 0);\n\nconst ledgerStaged = (() => { try { return $(\"Postgres Raw Stage Ledgers\").all().length; } catch(e) { return 0; } })();\nconst vendorStaged = (() => { try { return $(\"Postgres Raw Stage Vendors\").all().length; } catch(e) { return 0; } })();\nconst stagedCount = ledgerStaged + vendorStaged;\n\nconst ledgerPromoted = (() => {\n  try {\n    return $(\"Postgres Promote Ledgers\").all().filter(item => {\n      const j = item.json || {};\n      return !!(j.id || j.erp_sync_id || j.name);\n    }).length;\n  } catch(e) { return 0; }\n})();\n\nconst vendorPromoted = (() => {\n  try {\n    return $(\"Postgres Promote Vendors\").all().filter(item => {\n      const j = item.json || {};\n      return !!(j.id || j.erp_sync_id || j.name);\n    }).length;\n  } catch(e) { return 0; }\n})();\n\nconst promotedCount = ledgerPromoted + vendorPromoted;\nconst skippedCount = Math.max(fetchedCount - promotedCount, 0);\n\nreturn [\n  {\n    json: {\n      sync_run_id: syncRunId,\n      company_id: companyId,\n      run_status: \"success\",\n      fetched_count: fetchedCount,\n      staged_count: stagedCount,\n      promoted_count: promotedCount,\n      skipped_count: skippedCount,\n      error_count: 0\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        1136
      ],
      "id": "5d3450d1-4985-4684-bb6d-dc18e717ee2a",
      "name": "Build Sync Summary"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE sync_runs\nSET\n  run_status = $2,\n  completed_at = now(),\n  fetched_count = $3,\n  staged_count = $4,\n  promoted_count = $5,\n  skipped_count = $6,\n  error_count = $7,\n  updated_at = now()\nWHERE id = $1\nRETURNING id, company_id, entity_name, run_status, completed_at, fetched_count, staged_count, promoted_count, skipped_count, error_count;",
        "options": {
          "queryReplacement": "={{ [$json.sync_run_id, $json.run_status, $json.fetched_count, $json.staged_count, $json.promoted_count, $json.skipped_count, $json.error_count] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        640,
        1040
      ],
      "id": "77a6b1fa-010c-492c-9078-fe06f3f0a1ec",
      "name": "Postgres Complete Sync Run",
      "credentials": {
        "postgres": {
          "id": "VjdvpurQiZwvlifZ",
          "name": "Agent_tally"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH deactivated AS (\n  UPDATE ledger_master l\n  SET\n    is_active = false,\n    deleted_at = now(),\n    updated_at = now()\n  WHERE l.company_id = $2\n    AND l.erp_sync_id IS NOT NULL\n    AND l.is_active = true\n    AND NOT EXISTS (\n      SELECT 1\n      FROM raw_tally_ledger_master r\n      WHERE r.erp_sync_id = l.erp_sync_id\n        AND r.company_id = $2\n        AND r.sync_run_id = $1\n        AND r.is_active = true\n    )\n  RETURNING l.id AS ledger_id\n)\nSELECT $1::text AS sync_run_id, $2::text AS company_id, COUNT(*) AS deactivated_count FROM deactivated;",
        "options": {
          "queryReplacement": "={{ [$json.sync_run_id, $json.company_id] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        864,
        1040
      ],
      "id": "83cd3b46-5fbc-4e22-85aa-fbf9205a8e08",
      "name": "Postgres Reconcile Missing Ledgers",
      "credentials": {
        "postgres": {
          "id": "VjdvpurQiZwvlifZ",
          "name": "Agent_tally"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH reactivated AS (\n  UPDATE ledger_master l\n  SET\n    is_active = true,\n    deleted_at = null,\n    updated_at = now()\n  FROM raw_tally_ledger_master r\n  WHERE r.erp_sync_id = l.erp_sync_id\n    AND l.company_id = $2\n    AND r.company_id = $2\n    AND l.erp_sync_id IS NOT NULL\n    AND r.sync_run_id = $1\n    AND r.is_active = true\n    AND (l.is_active = false OR l.deleted_at IS NOT NULL)\n  RETURNING l.id AS ledger_id\n)\nSELECT $1::text AS sync_run_id, $2::text AS company_id, COUNT(*) AS reactivated_count FROM reactivated;",
        "options": {
          "queryReplacement": "={{ [$json.sync_run_id, $json.company_id] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1088,
        1040
      ],
      "id": "a0c5e580-97bb-4f77-b838-12f8904ab4a4",
      "name": "Postgres Reactivate Reappeared Ledgers",
      "credentials": {
        "postgres": {
          "id": "VjdvpurQiZwvlifZ",
          "name": "Agent_tally"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH deactivated AS (\n  UPDATE vendors v\n  SET\n    status = 'Inactive',\n    deleted_at = now(),\n    updated_at = now()\n  WHERE v.company_id = $2\n    AND v.erp_sync_id IS NOT NULL\n    AND v.is_synced_from_tally = true\n    AND (v.status = 'Active' OR v.deleted_at IS NULL)\n    AND NOT EXISTS (\n      SELECT 1\n      FROM raw_tally_vendors r\n      WHERE r.erp_sync_id = v.erp_sync_id\n        AND r.company_id = $2\n        AND r.sync_run_id = $1\n        AND r.deleted_at IS NULL\n    )\n  RETURNING v.id AS vendor_id\n)\nSELECT $1::text AS sync_run_id, $2::text AS company_id, COUNT(*) AS deactivated_count FROM deactivated;",
        "options": {
          "queryReplacement": "={{ [$json.sync_run_id, $json.company_id] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1312,
        1040
      ],
      "id": "66c2f433-28d6-4721-bd96-26431dc9a982",
      "name": "Postgres Reconcile Missing Vendors",
      "credentials": {
        "postgres": {
          "id": "VjdvpurQiZwvlifZ",
          "name": "Agent_tally"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH reactivated AS (\n  UPDATE vendors v\n  SET\n    status = 'Active',\n    deleted_at = null,\n    is_synced_from_tally = true,\n    updated_at = now()\n  FROM raw_tally_vendors r\n  WHERE r.erp_sync_id = v.erp_sync_id\n    AND v.company_id = $2\n    AND r.company_id = $2\n    AND v.erp_sync_id IS NOT NULL\n    AND r.sync_run_id = $1\n    AND r.deleted_at IS NULL\n    AND (v.status != 'Active' OR v.deleted_at IS NOT NULL)\n  RETURNING v.id AS vendor_id\n)\nSELECT $1::text AS sync_run_id, $2::text AS company_id, COUNT(*) AS reactivated_count FROM reactivated;",
        "options": {
          "queryReplacement": "={{ [$json.sync_run_id, $json.company_id] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1536,
        1040
      ],
      "id": "aee672a9-eeb4-4f16-bf54-6a8dce608215",
      "name": "Postgres Reactivate Reappeared Vendors",
      "credentials": {
        "postgres": {
          "id": "VjdvpurQiZwvlifZ",
          "name": "Agent_tally"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Companies To Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Companies To Sync": {
      "main": [
        [
          {
            "node": "Extract Bridge Config Per Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Bridge Config Per Company": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Company Config + HTTP Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge Company Config + HTTP Response",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Company Config + HTTP Response": {
      "main": [
        [
          {
            "node": "Postgres Create Sync Run",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge HTTP + Sync Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Create Sync Run": {
      "main": [
        [
          {
            "node": "Merge HTTP + Sync Run",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge Fail Path",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge Final Success + Sync Run",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge HTTP + Sync Run": {
      "main": [
        [
          {
            "node": "Parse Bridge Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Bridge Records": {
      "main": [
        [
          {
            "node": "IF Empty Batch?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Empty Batch?": {
      "main": [
        [
          {
            "node": "Build Empty Batch Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Ledgers vs Vendors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Empty Batch Summary": {
      "main": [
        [
          {
            "node": "Postgres Complete Sync Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Ledgers vs Vendors": {
      "main": [
        [
          {
            "node": "Route by Entity Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Entity Type": {
      "main": [
        [
          {
            "node": "Add Ledger Source Hash",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Vendor Source Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Ledger Source Hash": {
      "main": [
        [
          {
            "node": "Postgres Raw Stage Ledgers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Vendor Source Hash": {
      "main": [
        [
          {
            "node": "Postgres Raw Stage Vendors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Raw Stage Ledgers": {
      "main": [
        [
          {
            "node": "IF Raw Stage Ledgers Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Raw Stage Vendors": {
      "main": [
        [
          {
            "node": "IF Raw Stage Vendors Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Raw Stage Ledgers Failed": {
      "main": [
        [
          {
            "node": "Merge Fail Path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres Promote Ledgers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Raw Stage Vendors Failed": {
      "main": [
        [
          {
            "node": "Merge Fail Path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres Promote Vendors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Promote Ledgers": {
      "main": [
        [
          {
            "node": "IF Promote Ledgers Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Promote Vendors": {
      "main": [
        [
          {
            "node": "IF Promote Vendors Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Promote Ledgers Failed": {
      "main": [
        [
          {
            "node": "Merge Fail Path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Both Success Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Promote Vendors Failed": {
      "main": [
        [
          {
            "node": "Merge Fail Path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Both Success Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Fail Path": {
      "main": [
        [
          {
            "node": "Postgres Fail Sync Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Both Success Paths": {
      "main": [
        [
          {
            "node": "Merge Final Success + Sync Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Final Success + Sync Run": {
      "main": [
        [
          {
            "node": "Build Sync Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Sync Summary": {
      "main": [
        [
          {
            "node": "Postgres Complete Sync Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Complete Sync Run": {
      "main": [
        [
          {
            "node": "Postgres Reconcile Missing Ledgers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Reconcile Missing Ledgers": {
      "main": [
        [
          {
            "node": "Postgres Reactivate Reappeared Ledgers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Reactivate Reappeared Ledgers": {
      "main": [
        [
          {
            "node": "Postgres Reconcile Missing Vendors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Reconcile Missing Vendors": {
      "main": [
        [
          {
            "node": "Postgres Reactivate Reappeared Vendors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "797bbe84-dcad-42ea-b421-132135998725",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fe87abab93976eca6631118b38b52697a4e1d467e3d1f389d6cf8d0dd8eea021"
  },
  "id": "qPfYLYLEQ56E8bx2",
  "tags": []
}