Agent_Fin_IQ/tally-bridge/n8njson/19-03-2026/PO-Tally_sync-Fin-IQ-agent (2).json
{
  "name": "PO-Tally_sync-Fin-IQ-agent",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2912,
        368
      ],
      "id": "c3fb28a1-e98b-436c-b003-baf87321b5ca",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "21ba2ac1-6d0e-410e-9ab1-611aa6c71e92",
              "name": "tally_url",
              "value": "https://aphetically-nonaccompanying-hye.ngrok-free.dev",
              "type": "string"
            },
            {
              "id": "d469b06d-12b2-4225-80ef-36e12447d8ba",
              "name": "default_status",
              "value": "Open",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2688,
        368
      ],
      "id": "9774f0c3-0d13-44bd-a6f2-1fcb40521699",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.tally_url.trim() }}/tally/purchase-orders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "ngrok-skip-browser-warning",
              "value": "1"
            },
            {
              "name": "x-api-key",
              "value": "WXuQeIpMOjxTkCsP1azLo9l0NB7GZqvUtSV6d42Jm3YhHwrE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2464,
        368
      ],
      "id": "e686c276-b9ba-4c4a-ade1-3b3bc06f7ed2",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sync_runs (\n  entity_name,\n  run_status,\n  started_at,\n  fetched_count,\n  created_at,\n  updated_at\n)\nVALUES (\n  $1,\n  $2,\n  now(),\n  $3,\n  now(),\n  now()\n)\nRETURNING id AS sync_run_id, entity_name, run_status, started_at, fetched_count;",
        "options": {
          "queryReplacement": "={{ 'purchase_orders' }},{{ 'running' }},{{ $json.count || 0 }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2240,
        608
      ],
      "id": "a9157570-cf1a-41a1-8e3a-dff4b5870299",
      "name": "Postgres Create Sync Run",
      "credentials": {
        "postgres": {
          "id": "VjdvpurQiZwvlifZ",
          "name": "Agent_tally"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2016,
        144
      ],
      "id": "70f6c554-cadf-4876-be8d-b3900d42f463",
      "name": "Merge HTTP + Sync Run"
    },
    {
      "parameters": {
        "jsCode": "const records = $json.records || [];\nconst syncRunId = $json.sync_run_id || null;\n\nif (records.length === 0) {\n  return [\n    {\n      json: {\n        __empty_batch: true,\n        count: 0,\n        records: [],\n        sync_run_id: syncRunId\n      }\n    }\n  ];\n}\n\nreturn records.map(record => ({\n  json: {\n    ...record,\n    sync_run_id: syncRunId\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1792,
        144
      ],
      "id": "33c70526-b159-4403-a5c4-0e52f0745100",
      "name": "Parse XML to PO JSON"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7519e5ba-2c75-452c-b45a-633f560e8fce",
              "leftValue": "={{ $json.__empty_batch === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1568,
        144
      ],
      "id": "675f1b9d-2fea-42de-83df-dead6c86f7c2",
      "name": "IF Empty PO Batch?"
    },
    {
      "parameters": {
        "jsCode": "const syncRunId =\n  $json.sync_run_id ??\n  $(\"Postgres Create Sync Run\").first().json.sync_run_id ??\n  null;\n\nreturn [\n  {\n    json: {\n      sync_run_id: syncRunId,\n      run_status: \"success\",\n      fetched_count: 0,\n      staged_count: 0,\n      promoted_count: 0,\n      skipped_count: 0,\n      error_count: 0\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "6e290680-17f4-4f13-b536-bf8630d4bd65",
      "name": "Build Empty Batch Summary"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO raw_tally_purchase_orders (\n  sync_run_id,\n  erp_sync_id,\n  po_number,\n  po_date,\n  total_amount,\n  status,\n  source_hash,\n  raw_payload,\n  fetched_at,\n  updated_at\n)\nVALUES (\n  $1,\n  $2,\n  $3,\n  $4,\n  $5,\n  $6,\n  $7,\n  $8::jsonb,\n  now(),\n  now()\n)\nON CONFLICT (erp_sync_id)\nDO UPDATE SET\n  sync_run_id = EXCLUDED.sync_run_id,\n  po_number = EXCLUDED.po_number,\n  po_date = EXCLUDED.po_date,\n  total_amount = EXCLUDED.total_amount,\n  status = EXCLUDED.status,\n  source_hash = EXCLUDED.source_hash,\n  raw_payload = EXCLUDED.raw_payload,\n  fetched_at = now(),\n  updated_at = now()\nRETURNING id, erp_sync_id, po_number;",
        "options": {
          "queryReplacement": "={{ $json.sync_run_id }},{{ $json.erp_sync_id }},{{ $json.po_number }},{{ $json.po_date }},{{ $json.total_amount }},{{ $json.status }},{{ $json.source_hash }},{{JSON.stringify($json.raw_payload)}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1120,
        432
      ],
      "id": "503bb462-c2ab-4b6c-b70d-95632ce89252",
      "name": "Postgres Raw Stag",
      "credentials": {
        "postgres": {
          "id": "VjdvpurQiZwvlifZ",
          "name": "Agent_tally"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO purchase_orders (\n  po_number,\n  po_date,\n  total_amount,\n  status,\n  erp_sync_id,\n  source_hash,\n  last_synced_at,\n  updated_at\n)\nSELECT\n  r.po_number,\n  r.po_date,\n  r.total_amount,\n  r.status,\n  r.erp_sync_id,\n  r.source_hash,\n  now(),\n  now()\nFROM raw_tally_purchase_orders r\nWHERE r.erp_sync_id = $1\nON CONFLICT (erp_sync_id)\nDO UPDATE SET\n  po_number = EXCLUDED.po_number,\n  po_date = EXCLUDED.po_date,\n  total_amount = EXCLUDED.total_amount,\n  status = EXCLUDED.status,\n  source_hash = EXCLUDED.source_hash,\n  last_synced_at = now(),\n  updated_at = now()\nWHERE purchase_orders.source_hash IS DISTINCT FROM EXCLUDED.source_hash\nRETURNING id, po_number, erp_sync_id, source_hash;",
        "options": {
          "queryReplacement": "={{ $json.erp_sync_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -896,
        432
      ],
      "id": "4d4d009a-e599-4853-a85b-011f16047cf7",
      "name": "Postgres Promote Final",
      "credentials": {
        "postgres": {
          "id": "VjdvpurQiZwvlifZ",
          "name": "Agent_tally"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ff276e02-e032-4ca2-af5a-cd79303995e1",
              "leftValue": "={{ $json.error !== undefined }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -672,
        432
      ],
      "id": "f5d4f2cf-f32a-4ebe-9e53-436c968f8f10",
      "name": "IF Promote Failed"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cc001122-aaaa-bbbb-cccc-000000000001",
              "leftValue": "={{ $json.error !== undefined }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -672,
        192
      ],
      "id": "93926f21-45ce-4e6f-a842-deaaa864b349",
      "name": "IF Promote PO Lines Failed"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -448,
        432
      ],
      "id": "5a8d2239-5554-473a-ad9b-880fc1597d14",
      "name": "Merge Fail Path"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE sync_runs\nSET\n  run_status = $2,\n  completed_at = now(),\n  error_count = $3,\n  error_message = $4,\n  updated_at = now()\nWHERE id = $1\nRETURNING id, entity_name, run_status, completed_at, error_count, error_message;",
        "options": {
          "queryReplacement": "={{ $json.sync_run_id || $json.id }},{{ 'failed' }},{{ 1 }},{{ $json.error?.description || $json.error?.message || 'workflow_failed' }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -224,
        480
      ],
      "id": "029eae25-44fc-415c-942b-db138c1e02d7",
      "name": "Postgres Fail Sync Run",
      "credentials": {
        "postgres": {
          "id": "VjdvpurQiZwvlifZ",
          "name": "Agent_tally"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -448,
        192
      ],
      "id": "336a8382-fc03-464c-a083-806778a7deb9",
      "name": "Merge Both Success Paths"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -224,
        240
      ],
      "id": "77bd47da-eaaf-4d45-9027-a04f66adf93f",
      "name": "Merge Final Success + Sync Run"
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\n\nconst syncRunItem = allItems.find(i => i.json.sync_run_id !== undefined);\nconst syncRunId = syncRunItem?.json?.sync_run_id ?? null;\n\nconst fetchedCount = Number($(\"HTTP Request\").first().json.count || 0);\nconst stagedCount = $(\"Postgres Raw Stag\").all().length;\n\nconst promotedItems = $(\"Postgres Promote Final\").all();\nconst promotedCount = promotedItems.filter(item => {\n  const j = item.json || {};\n  return !!(j.id || j.erp_sync_id || j.po_number);\n}).length;\n\nconst skippedCount = Math.max(fetchedCount - promotedCount, 0);\n\nreturn [\n  {\n    json: {\n      sync_run_id: syncRunId,\n      run_status: \"success\",\n      fetched_count: fetchedCount,\n      staged_count: stagedCount,\n      promoted_count: promotedCount,\n      skipped_count: skippedCount,\n      error_count: 0\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        240
      ],
      "id": "025937e7-f6b2-45a2-b329-cdac63ff8f09",
      "name": "Build Sync Summary"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE sync_runs\nSET\n  run_status = $2,\n  completed_at = now(),\n  fetched_count = $3,\n  staged_count = $4,\n  promoted_count = $5,\n  skipped_count = $6,\n  error_count = $7,\n  updated_at = now()\nWHERE id = $1\nRETURNING id, entity_name, run_status, completed_at, fetched_count, staged_count, promoted_count, skipped_count, error_count;",
        "options": {
          "queryReplacement": "={{ $json.sync_run_id }},{{ $json.run_status }},{{ $json.fetched_count }},{{ $json.staged_count }},{{ $json.promoted_count }},{{ $json.skipped_count }},{{ $json.error_count }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        144
      ],
      "id": "c7e1b6b6-b505-4367-b6e2-789d4ab3dde1",
      "name": "Postgres Complete Sync Run",
      "credentials": {
        "postgres": {
          "id": "VjdvpurQiZwvlifZ",
          "name": "Agent_tally"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH deactivated AS (\n  UPDATE purchase_orders p\n  SET\n    is_active = false,\n    deleted_at = now(),\n    status = 'Inactive',\n    updated_at = now()\n  WHERE p.is_active = true\n    AND NOT EXISTS (\n      SELECT 1\n      FROM raw_tally_purchase_orders r\n      WHERE r.erp_sync_id = p.erp_sync_id\n        AND r.sync_run_id = $1\n        AND r.is_active = true\n    )\n  RETURNING p.id AS po_id\n)\nSELECT $1::text AS id, COUNT(*) AS deactivated_count FROM deactivated;",
        "options": {
          "queryReplacement": "={{ $json.id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        448,
        144
      ],
      "id": "98e1dd52-5005-4b71-a15f-fa9844a7eda9",
      "name": "Postgres Reconcile Missing POs",
      "credentials": {
        "postgres": {
          "id": "VjdvpurQiZwvlifZ",
          "name": "Agent_tally"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH reactivated AS (\n  UPDATE purchase_orders p\n  SET\n    is_active = true,\n    deleted_at = null,\n    updated_at = now()\n  FROM raw_tally_purchase_orders r\n  WHERE r.erp_sync_id = p.erp_sync_id\n    AND r.sync_run_id = $1\n    AND r.is_active = true\n    AND (p.is_active = false OR p.deleted_at IS NOT NULL)\n  RETURNING p.id AS po_id\n)\nSELECT $1::text AS id, COUNT(*) AS reactivated_count FROM reactivated;",
        "options": {
          "queryReplacement": "={{ $json.id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        672,
        144
      ],
      "id": "abe21ee2-0f17-487c-a1a2-c38acba03944",
      "name": "Postgres Reactivate Reappeared POs",
      "credentials": {
        "postgres": {
          "id": "VjdvpurQiZwvlifZ",
          "name": "Agent_tally"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function getText(val) {\n  if (val === null || val === undefined) return null;\n  if (typeof val === \"object\") {\n    if (\"#text\" in val) return val[\"#text\"] === \"\" ? null : String(val[\"#text\"]).trim();\n    return null;\n  }\n  const s = String(val).trim();\n  return s === \"\" ? null : s;\n}\n\nfunction parseNumberFromMixed(val) {\n  const txt = getText(val);\n  if (!txt) return null;\n  const cleaned = txt.replace(/,/g, \"\").match(/-?\\d+(\\.\\d+)?/);\n  return cleaned ? Number(cleaned[0]) : null;\n}\n\nconst out = [];\n\nfor (const item of $input.all()) {\n  const row = item.json;\n  const raw = row.raw_payload || {};\n  const parentErpSyncId = row.erp_sync_id;\n  const syncRunId = row.sync_run_id;\n\n  let lines = raw[\"ALLINVENTORYENTRIES.LIST\"];\n\n  if (!lines) continue;\n\n  if (!Array.isArray(lines)) {\n    lines = [lines];\n  }\n\n  lines.forEach((line, idx) => {\n    const lineNumber = idx + 1;\n    const lineErpSyncId = `${parentErpSyncId}:${lineNumber}`;\n\n    const itemDescription = getText(line[\"STOCKITEMNAME\"]);\n    const billedQty = parseNumberFromMixed(line[\"BILLEDQTY\"]);\n    const actualQty = parseNumberFromMixed(line[\"ACTUALQTY\"]);\n    const quantity = billedQty ?? actualQty ?? null;\n\n    const unitPrice = parseNumberFromMixed(line[\"RATE\"]);\n    const amountRaw = parseNumberFromMixed(line[\"AMOUNT\"]);\n    const totalAmount = amountRaw === null ? null : Math.abs(amountRaw);\n\n    const sourceHash = [\n      lineErpSyncId,\n      itemDescription ?? \"\",\n      quantity ?? \"\",\n      unitPrice ?? \"\",\n      totalAmount ?? \"\"\n    ].join(\"|\");\n\n    out.push({\n      json: {\n        sync_run_id: syncRunId,\n        erp_sync_id: lineErpSyncId,\n        parent_erp_sync_id: String(parentErpSyncId),\n        line_number: lineNumber,\n        item_description: itemDescription,\n        quantity,\n        unit_price: unitPrice,\n        total_amount: totalAmount,\n        source_hash: sourceHash,\n        raw_payload: line\n      }\n    });\n  });\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1344,
        192
      ],
      "id": "5ec90079-17dd-4926-98f3-8d16c63fc1e9",
      "name": "Parse PO Lines"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO raw_tally_purchase_order_lines (\n  sync_run_id,\n  erp_sync_id,\n  parent_erp_sync_id,\n  line_number,\n  item_description,\n  quantity,\n  unit_price,\n  total_amount,\n  source_hash,\n  raw_payload,\n  fetched_at,\n  updated_at,\n  is_active,\n  deleted_at\n)\nVALUES (\n  $1,\n  $2,\n  $3,\n  $4,\n  $5,\n  NULLIF($6::text, 'null')::numeric,\n  NULLIF($7::text, 'null')::numeric,\n  NULLIF($8::text, 'null')::numeric,\n  $9,\n  $10::jsonb,\n  now(),\n  now(),\n  true,\n  null\n)\nON CONFLICT (erp_sync_id)\nDO UPDATE SET\n  sync_run_id = EXCLUDED.sync_run_id,\n  parent_erp_sync_id = EXCLUDED.parent_erp_sync_id,\n  line_number = EXCLUDED.line_number,\n  item_description = EXCLUDED.item_description,\n  quantity = EXCLUDED.quantity,\n  unit_price = EXCLUDED.unit_price,\n  total_amount = EXCLUDED.total_amount,\n  source_hash = EXCLUDED.source_hash,\n  raw_payload = EXCLUDED.raw_payload,\n  fetched_at = now(),\n  updated_at = now(),\n  is_active = true,\n  deleted_at = null\nRETURNING id, erp_sync_id, parent_erp_sync_id, line_number;",
        "options": {
          "queryReplacement": "={{ $json.sync_run_id }},{{ $json.erp_sync_id }},{{ $json.parent_erp_sync_id }},{{ $json.line_number }},{{ $json.item_description }},{{ $json.quantity }},{{ $json.unit_price }},{{ $json.total_amount }},{{ $json.source_hash }},{{ JSON.stringify($json.raw_payload) }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1120,
        192
      ],
      "id": "a355136b-1952-4c4b-b351-77a828cbc31b",
      "name": "Postgres Raw Stage PO Lines",
      "credentials": {
        "postgres": {
          "id": "VjdvpurQiZwvlifZ",
          "name": "Agent_tally"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO purchase_order_lines (\n  po_id,\n  line_number,\n  item_description,\n  quantity,\n  unit_price,\n  total_amount,\n  erp_sync_id,\n  source_hash,\n  last_synced_at,\n  is_active,\n  deleted_at\n)\nSELECT\n  p.id AS po_id,\n  r.line_number,\n  r.item_description,\n  r.quantity,\n  r.unit_price,\n  r.total_amount,\n  r.erp_sync_id,\n  r.source_hash,\n  now(),\n  true,\n  null\nFROM raw_tally_purchase_order_lines r\nJOIN purchase_orders p\n  ON p.erp_sync_id = r.parent_erp_sync_id\nWHERE r.erp_sync_id = $1\nON CONFLICT (erp_sync_id)\nDO UPDATE SET\n  po_id = EXCLUDED.po_id,\n  line_number = EXCLUDED.line_number,\n  item_description = EXCLUDED.item_description,\n  quantity = EXCLUDED.quantity,\n  unit_price = EXCLUDED.unit_price,\n  total_amount = EXCLUDED.total_amount,\n  source_hash = EXCLUDED.source_hash,\n  last_synced_at = now(),\n  is_active = true,\n  deleted_at = null\nWHERE purchase_order_lines.source_hash IS DISTINCT FROM EXCLUDED.source_hash\nRETURNING id, po_id, erp_sync_id, line_number, item_description;",
        "options": {
          "queryReplacement": "={{ $json.erp_sync_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -896,
        192
      ],
      "id": "b02dbe5f-0015-47b9-99ed-fe2303a70ee1",
      "name": "Postgres Promote PO Lines",
      "credentials": {
        "postgres": {
          "id": "VjdvpurQiZwvlifZ",
          "name": "Agent_tally"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH deactivated AS (\n  UPDATE purchase_order_lines p\n  SET\n    is_active = false,\n    deleted_at = now()\n  WHERE p.is_active = true\n    AND NOT EXISTS (\n      SELECT 1\n      FROM raw_tally_purchase_order_lines r\n      WHERE r.erp_sync_id = p.erp_sync_id\n        AND r.sync_run_id = $1\n        AND r.is_active = true\n    )\n  RETURNING p.id AS line_id\n)\nSELECT $1::text AS id, COUNT(*) AS deactivated_count FROM deactivated;",
        "options": {
          "queryReplacement": "={{ $json.id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        896,
        144
      ],
      "id": "0f1ffb6d-c211-4627-a5ec-34c6624f9cec",
      "name": "Postgres Reconcile Missing PO Lines",
      "credentials": {
        "postgres": {
          "id": "VjdvpurQiZwvlifZ",
          "name": "Agent_tally"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH reactivated AS (\n  UPDATE purchase_order_lines p\n  SET\n    is_active = true,\n    deleted_at = null\n  FROM raw_tally_purchase_order_lines r\n  WHERE r.erp_sync_id = p.erp_sync_id\n    AND r.sync_run_id = $1\n    AND r.is_active = true\n    AND (p.is_active = false OR p.deleted_at IS NOT NULL)\n  RETURNING p.id AS line_id\n)\nSELECT $1::text AS id, COUNT(*) AS reactivated_count FROM reactivated;",
        "options": {
          "queryReplacement": "={{ $json.id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1120,
        144
      ],
      "id": "b06ad384-dc8b-4737-a24e-5338fbe17b94",
      "name": "Postgres Reactivate Reappeared PO Lines",
      "credentials": {
        "postgres": {
          "id": "VjdvpurQiZwvlifZ",
          "name": "Agent_tally"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Create Sync Run": {
      "main": [
        [
          {
            "node": "Merge HTTP + Sync Run",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge Fail Path",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge Final Success + Sync Run",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge HTTP + Sync Run": {
      "main": [
        [
          {
            "node": "Parse XML to PO JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse XML to PO JSON": {
      "main": [
        [
          {
            "node": "IF Empty PO Batch?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Empty PO Batch?": {
      "main": [
        [
          {
            "node": "Build Empty Batch Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres Raw Stag",
            "type": "main",
            "index": 0
          },
          {
            "node": "Parse PO Lines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Empty Batch Summary": {
      "main": [
        [
          {
            "node": "Postgres Complete Sync Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Raw Stag": {
      "main": [
        [
          {
            "node": "Postgres Promote Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Promote Final": {
      "main": [
        [
          {
            "node": "IF Promote Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Promote Failed": {
      "main": [
        [
          {
            "node": "Merge Fail Path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Both Success Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse PO Lines": {
      "main": [
        [
          {
            "node": "Postgres Raw Stage PO Lines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Raw Stage PO Lines": {
      "main": [
        [
          {
            "node": "Postgres Promote PO Lines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Promote PO Lines": {
      "main": [
        [
          {
            "node": "IF Promote PO Lines Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Promote PO Lines Failed": {
      "main": [
        [
          {
            "node": "Merge Fail Path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Both Success Paths",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Fail Path": {
      "main": [
        [
          {
            "node": "Postgres Fail Sync Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Both Success Paths": {
      "main": [
        [
          {
            "node": "Merge Final Success + Sync Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Final Success + Sync Run": {
      "main": [
        [
          {
            "node": "Build Sync Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Sync Summary": {
      "main": [
        [
          {
            "node": "Postgres Complete Sync Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Complete Sync Run": {
      "main": [
        [
          {
            "node": "Postgres Reconcile Missing POs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Reconcile Missing POs": {
      "main": [
        [
          {
            "node": "Postgres Reactivate Reappeared POs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Reactivate Reappeared POs": {
      "main": [
        [
          {
            "node": "Postgres Reconcile Missing PO Lines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Reconcile Missing PO Lines": {
      "main": [
        [
          {
            "node": "Postgres Reactivate Reappeared PO Lines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge HTTP + Sync Run",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postgres Create Sync Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "08872682-205c-46d5-b742-de9d227cb605",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fe87abab93976eca6631118b38b52697a4e1d467e3d1f389d6cf8d0dd8eea021"
  },
  "id": "BRolh3l3VeY1pMKq",
  "tags": []
}