Agent_Fin_IQ/tally-bridge/n8njson/19-03-2026/Stock-Item-Tally_sync-Fin-IQ-agent (2).json
{
  "name": "Stock-Item-Tally_sync-Fin-IQ-agent",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3792,
        32
      ],
      "id": "2bd81809-55e4-4abb-b885-8caec6d48ddc",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "lv000002-asgn-0001-0000-000000000001",
              "name": "tally_url",
              "value": "https://heathiest-denisha-standoffishly.ngrok-free.dev",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3568,
        32
      ],
      "id": "cf83c40f-70a3-43da-95ea-bd57561c08f3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.tally_url.trim() }}/tally/stock-items",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "ngrok-skip-browser-warning",
              "value": "1"
            },
            {
              "name": "x-api-key",
              "value": "WXuQeIpMOjxTkCsP1azLo9l0NB7GZqvUtSV6d42Jm3YhHwrE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3344,
        32
      ],
      "id": "f4a4e08a-cb03-48f7-8541-d73c2a42522a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sync_runs (\n  entity_name,\n  run_status,\n  started_at,\n  fetched_count,\n  created_at,\n  updated_at\n)\nVALUES (\n  $1,\n  $2,\n  now(),\n  $3,\n  now(),\n  now()\n)\nRETURNING id AS sync_run_id, entity_name, run_status, started_at, fetched_count;",
        "options": {
          "queryReplacement": "={{ 'stock_items' }},{{ 'running' }},{{ $json.count || 0 }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3120,
        320
      ],
      "id": "93b2a2a8-6822-4bce-bb60-fa14d71376c1",
      "name": "Postgres Create Stock Item Sync Run",
      "credentials": {
        "postgres": {
          "id": "VjdvpurQiZwvlifZ",
          "name": "Agent_tally"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2896,
        -48
      ],
      "id": "7837060a-680a-4124-a1bc-799fa1d411e9",
      "name": "Merge HTTP + Sync Run"
    },
    {
      "parameters": {
        "jsCode": "const records = $json.records || [];\nconst syncRunId = $json.sync_run_id || null;\n\nconst normalizeText = (value) => {\n  if (value === null || value === undefined) return null;\n  const text = String(value).trim();\n  return text === '' ? null : text;\n};\n\nconst normalizeNullableNumber = (value) => {\n  if (value === null || value === undefined) return null;\n  const text = String(value).trim();\n  return text === '' ? null : text;\n};\n\nconst normalizeUom = (value) => {\n  if (value === null || value === undefined) return null;\n  const text = String(value).trim();\n  if (text === '' || text === '&#4; Not Applicable' || text === 'Not Applicable') {\n    return null;\n  }\n  return text;\n};\n\nif (records.length === 0) {\n  return [{ json: { __empty_batch: true, count: 0, sync_run_id: syncRunId } }];\n}\n\nconst out = [];\nfor (const record of records) {\n  const itemNameRaw = record.item_name;\n  const erpSyncIdRaw = record.erp_sync_id;\n  const itemName = itemNameRaw === null || itemNameRaw === undefined ? '' : String(itemNameRaw).trim();\n  const erpSyncId = erpSyncIdRaw === null || erpSyncIdRaw === undefined ? '' : String(erpSyncIdRaw).trim();\n\n  if (!itemName || itemName.toLowerCase() === 'null' || !erpSyncId) {\n    continue;\n  }\n\n  out.push({\n    json: {\n      sync_run_id: syncRunId,\n      erp_sync_id: erpSyncId,\n      item_name: itemName,\n      item_code: normalizeText(record.item_code),\n      hsn_sac: normalizeText(record.hsn_sac),\n      uom: normalizeUom(record.uom),\n      base_price: normalizeNullableNumber(record.base_price),\n      tax_rate: normalizeNullableNumber(record.tax_rate),\n      raw_payload: record.raw_payload ?? record,\n      fetched_at: record.fetched_at ?? $json.fetched_at ?? null\n    }\n  });\n}\n\nif (out.length === 0) {\n  return [{ json: { __empty_batch: true, count: 0, sync_run_id: syncRunId } }];\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2672,
        -32
      ],
      "id": "042cb2f9-8b5c-494b-bc8d-d6f9cc49f2da",
      "name": "Parse Stock Item Records"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "387a6703-6fb0-47a5-b713-820c64c5b05d",
              "leftValue": "={{ $json.__empty_batch === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2448,
        -48
      ],
      "id": "15a2736c-52ef-424f-acae-5e56792594dd",
      "name": "IF Empty Stock Item Batch?"
    },
    {
      "parameters": {
        "jsCode": "const syncRunId =\n  $json.sync_run_id ??\n  $(\"Postgres Create Stock Item Sync Run\").first().json.sync_run_id ??\n  null;\n\nreturn [{ json: {\n  sync_run_id: syncRunId,\n  run_status: 'success',\n  fetched_count: 0,\n  staged_count: 0,\n  promoted_count: 0,\n  skipped_count: 0,\n  error_count: 0\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        -208
      ],
      "id": "faeeeabf-a787-4e5e-9d6c-002e0558e5ce",
      "name": "Build Empty Stock Item Batch Summary"
    },
    {
      "parameters": {
        "jsCode": "const out = [];\nfor (const item of $input.all()) {\n  const row = item.json;\n  const sourceHash = [\n    row.erp_sync_id ?? '',\n    row.item_name ?? '',\n    row.item_code ?? '',\n    row.hsn_sac ?? '',\n    row.uom ?? '',\n    row.base_price ?? '',\n    row.tax_rate ?? ''\n  ].join('|');\n  out.push({ json: { ...row, source_hash: sourceHash } });\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2224,
        48
      ],
      "id": "6dca09b3-12d7-4827-81f0-d7cbf732c40a",
      "name": "Add Stock Item Source Hash"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO raw_tally_item_master (\n  sync_run_id,\n  erp_sync_id,\n  item_name,\n  item_code,\n  hsn_sac,\n  uom,\n  base_price,\n  tax_rate,\n  source_hash,\n  raw_payload,\n  fetched_at,\n  created_at,\n  updated_at,\n  deleted_at\n)\nVALUES (\n  $1::uuid,\n  $2::text,\n  $3::text,\n  NULLIF($4::text, 'null'),\n  NULLIF($5::text, 'null'),\n  NULLIF($6::text, 'null'),\n  NULLIF(NULLIF($7::text, 'null'), '')::numeric,\n  NULLIF(NULLIF($8::text, 'null'), '')::numeric,\n  $9::text,\n  $10::jsonb,\n  now(),\n  now(),\n  now(),\n  null\n)\nON CONFLICT (erp_sync_id)\nDO UPDATE SET\n  sync_run_id = EXCLUDED.sync_run_id,\n  item_name = EXCLUDED.item_name,\n  item_code = EXCLUDED.item_code,\n  hsn_sac = EXCLUDED.hsn_sac,\n  uom = EXCLUDED.uom,\n  base_price = EXCLUDED.base_price,\n  tax_rate = EXCLUDED.tax_rate,\n  source_hash = EXCLUDED.source_hash,\n  raw_payload = EXCLUDED.raw_payload,\n  fetched_at = now(),\n  updated_at = now(),\n  deleted_at = null\nRETURNING id, erp_sync_id, item_name;",
        "options": {
          "queryReplacement": "={{ [$json.sync_run_id, $json.erp_sync_id, $json.item_name, $json.item_code ?? 'null', $json.hsn_sac ?? 'null', $json.uom ?? 'null', $json.base_price ?? 'null', $json.tax_rate ?? 'null', $json.source_hash, JSON.stringify($json.raw_payload || {})] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2000,
        64
      ],
      "id": "025a96dd-aae2-478e-a915-593d6f7c499e",
      "name": "Postgres Raw Stage Stock Items",
      "credentials": {
        "postgres": {
          "id": "VjdvpurQiZwvlifZ",
          "name": "Agent_tally"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "247635f1-cc16-4acf-9738-bbc20db880e9",
              "leftValue": "={{ $json.error !== undefined }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1776,
        48
      ],
      "id": "1d3cd262-10b2-45ed-a246-30fa6b7f06a2",
      "name": "IF Raw Stage Stock Items Failed"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO item_master (\n  company_id,\n  item_name,\n  item_code,\n  hsn_sac,\n  uom,\n  base_price,\n  tax_rate,\n  default_ledger_id,\n  is_active,\n  erp_sync_id,\n  source_hash,\n  deleted_at,\n  updated_at\n)\nSELECT\n  null AS company_id,\n  r.item_name,\n  r.item_code,\n  r.hsn_sac,\n  r.uom,\n  r.base_price,\n  r.tax_rate,\n  null AS default_ledger_id,\n  true AS is_active,\n  r.erp_sync_id,\n  r.source_hash,\n  null AS deleted_at,\n  now() AS updated_at\nFROM raw_tally_item_master r\nWHERE r.erp_sync_id = $1\nON CONFLICT (erp_sync_id)\nDO UPDATE SET\n  company_id = EXCLUDED.company_id,\n  item_name = EXCLUDED.item_name,\n  item_code = EXCLUDED.item_code,\n  hsn_sac = EXCLUDED.hsn_sac,\n  uom = EXCLUDED.uom,\n  base_price = EXCLUDED.base_price,\n  tax_rate = EXCLUDED.tax_rate,\n  source_hash = EXCLUDED.source_hash,\n  is_active = true,\n  deleted_at = null,\n  updated_at = now()\nWHERE item_master.source_hash IS DISTINCT FROM EXCLUDED.source_hash\n   OR item_master.is_active IS DISTINCT FROM true\n   OR item_master.deleted_at IS NOT NULL\nRETURNING id, erp_sync_id, item_name;",
        "options": {
          "queryReplacement": "={{ $json.erp_sync_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1552,
        32
      ],
      "id": "bc8a270d-0527-4989-96f0-364a25997ef9",
      "name": "Postgres Promote Stock Items",
      "credentials": {
        "postgres": {
          "id": "VjdvpurQiZwvlifZ",
          "name": "Agent_tally"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "247635f1-cc16-4acf-9738-bbc20db880e9",
              "leftValue": "={{ $json.error !== undefined }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1328,
        32
      ],
      "id": "2c234e29-7a19-46b9-9439-3382919cb710",
      "name": "IF Promote Stock Items Failed"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1104,
        224
      ],
      "id": "032c5628-dbd4-4876-a430-2925173939c0",
      "name": "Merge Fail Path"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE sync_runs\nSET\n  run_status = $2,\n  completed_at = now(),\n  error_count = $3,\n  error_message = $4,\n  updated_at = now()\nWHERE id = $1\nRETURNING id, entity_name, run_status, completed_at, error_count, error_message;",
        "options": {
          "queryReplacement": "={{ $json.sync_run_id || $json.id }},{{ 'failed' }},{{ 1 }},{{ $json.error?.description || $json.error?.message || 'workflow_failed' }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -880,
        224
      ],
      "id": "d79802a1-a807-462c-84dc-dbfe048c69d7",
      "name": "Postgres Fail Stock Item Sync Run",
      "credentials": {
        "postgres": {
          "id": "VjdvpurQiZwvlifZ",
          "name": "Agent_tally"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1104,
        32
      ],
      "id": "5ca7579b-185c-446c-bd89-20c0fb580b2b",
      "name": "Merge Final Success + Sync Run"
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nconst syncRunItem = allItems.find(i => i.json.sync_run_id !== undefined);\nconst syncRunId = syncRunItem?.json?.sync_run_id ?? null;\nconst fetchedCount = Number($(\"HTTP Request\").first().json.count || 0);\nconst stagedCount = (() => { try { return $(\"Postgres Raw Stage Stock Items\").all().length; } catch (e) { return 0; } })();\nconst promotedCount = (() => {\n  try {\n    return $(\"Postgres Promote Stock Items\").all().filter(item => {\n      const j = item.json || {};\n      return !!(j.id || j.erp_sync_id || j.item_name);\n    }).length;\n  } catch (e) {\n    return 0;\n  }\n})();\nconst skippedCount = Math.max(fetchedCount - promotedCount, 0);\nreturn [{ json: {\n  sync_run_id: syncRunId,\n  run_status: 'success',\n  fetched_count: fetchedCount,\n  staged_count: stagedCount,\n  promoted_count: promotedCount,\n  skipped_count: skippedCount,\n  error_count: 0\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        32
      ],
      "id": "406395b4-ac14-4b6c-9ac6-bc2f0f0a109a",
      "name": "Build Stock Item Sync Summary"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE sync_runs\nSET\n  run_status = $2,\n  completed_at = now(),\n  fetched_count = $3,\n  staged_count = $4,\n  promoted_count = $5,\n  skipped_count = $6,\n  error_count = $7,\n  updated_at = now()\nWHERE id = $1\nRETURNING id, entity_name, run_status, completed_at, fetched_count, staged_count, promoted_count, skipped_count, error_count;",
        "options": {
          "queryReplacement": "={{ $json.sync_run_id }},{{ $json.run_status }},{{ $json.fetched_count }},{{ $json.staged_count }},{{ $json.promoted_count }},{{ $json.skipped_count }},{{ $json.error_count }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -656,
        -112
      ],
      "id": "88ebcb89-4396-4ad8-b46c-3ed0ff6fabe5",
      "name": "Postgres Complete Stock Item Sync Run",
      "credentials": {
        "postgres": {
          "id": "VjdvpurQiZwvlifZ",
          "name": "Agent_tally"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH deactivated AS (\n  UPDATE item_master i\n  SET\n    is_active = false,\n    deleted_at = now(),\n    updated_at = now()\n  WHERE i.erp_sync_id IS NOT NULL\n    AND i.is_active = true\n    AND NOT EXISTS (\n      SELECT 1\n      FROM raw_tally_item_master r\n      WHERE r.erp_sync_id = i.erp_sync_id\n        AND r.sync_run_id = $1\n    )\n  RETURNING i.id AS item_id\n)\nSELECT $1::text AS id, COUNT(*) AS deactivated_count FROM deactivated;",
        "options": {
          "queryReplacement": "={{ $json.id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -432,
        -112
      ],
      "id": "427e8c4f-7350-4570-b503-c3aecbbb46b5",
      "name": "Postgres Reconcile Missing Stock Items",
      "credentials": {
        "postgres": {
          "id": "VjdvpurQiZwvlifZ",
          "name": "Agent_tally"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH reactivated AS (\n  UPDATE item_master i\n  SET\n    is_active = true,\n    deleted_at = null,\n    updated_at = now()\n  FROM raw_tally_item_master r\n  WHERE r.erp_sync_id = i.erp_sync_id\n    AND i.erp_sync_id IS NOT NULL\n    AND r.sync_run_id = $1\n    AND (i.is_active = false OR i.deleted_at IS NOT NULL)\n  RETURNING i.id AS item_id\n)\nSELECT $1::text AS id, COUNT(*) AS reactivated_count FROM reactivated;",
        "options": {
          "queryReplacement": "={{ $json.id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -208,
        -112
      ],
      "id": "750f76b6-7dcd-4331-b7dd-437df3899007",
      "name": "Postgres Reactivate Reappeared Stock Items",
      "credentials": {
        "postgres": {
          "id": "VjdvpurQiZwvlifZ",
          "name": "Agent_tally"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge HTTP + Sync Run",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postgres Create Stock Item Sync Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Create Stock Item Sync Run": {
      "main": [
        [
          {
            "node": "Merge HTTP + Sync Run",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge Fail Path",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge Final Success + Sync Run",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge HTTP + Sync Run": {
      "main": [
        [
          {
            "node": "Parse Stock Item Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Stock Item Records": {
      "main": [
        [
          {
            "node": "IF Empty Stock Item Batch?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Empty Stock Item Batch?": {
      "main": [
        [
          {
            "node": "Build Empty Stock Item Batch Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Stock Item Source Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Empty Stock Item Batch Summary": {
      "main": [
        [
          {
            "node": "Postgres Complete Stock Item Sync Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Stock Item Source Hash": {
      "main": [
        [
          {
            "node": "Postgres Raw Stage Stock Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Raw Stage Stock Items": {
      "main": [
        [
          {
            "node": "IF Raw Stage Stock Items Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Raw Stage Stock Items Failed": {
      "main": [
        [
          {
            "node": "Merge Fail Path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres Promote Stock Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Promote Stock Items": {
      "main": [
        [
          {
            "node": "IF Promote Stock Items Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Promote Stock Items Failed": {
      "main": [
        [
          {
            "node": "Merge Fail Path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Final Success + Sync Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Fail Path": {
      "main": [
        [
          {
            "node": "Postgres Fail Stock Item Sync Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Final Success + Sync Run": {
      "main": [
        [
          {
            "node": "Build Stock Item Sync Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Stock Item Sync Summary": {
      "main": [
        [
          {
            "node": "Postgres Complete Stock Item Sync Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Complete Stock Item Sync Run": {
      "main": [
        [
          {
            "node": "Postgres Reconcile Missing Stock Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Reconcile Missing Stock Items": {
      "main": [
        [
          {
            "node": "Postgres Reactivate Reappeared Stock Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5475f47c-2bf4-41c3-8776-bfa1fbad7e4c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fe87abab93976eca6631118b38b52697a4e1d467e3d1f389d6cf8d0dd8eea021"
  },
  "id": "kXGQytsOK41llYvz",
  "tags": []
}