Agent_Fin_IQ/tally-bridge/n8njson/Company-Tally-sync-Fin-IQ-agent.json
{
  "name": "Company-Tally-sync-Fin-IQ-agent",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [2528, 712],
      "id": "co000001-0000-0000-0000-000000000001",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "co000002-asgn-0001-0000-000000000002",
              "name": "tally_url",
              "value": "https://aphetically-nonaccompanying-hye.ngrok-free.dev",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2752, 712],
      "id": "co000002-0000-0000-0000-000000000002",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.tally_url.trim() }}/tally/companies",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "ngrok-skip-browser-warning",
              "value": "1"
            },
            {
              "name": "x-api-key",
              "value": "WXuQeIpMOjxTkCsP1azLo9l0NB7GZqvUtSV6d42Jm3YhHwrE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2976, 712],
      "id": "co000003-0000-0000-0000-000000000003",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sync_runs (\n  entity_name,\n  run_status,\n  started_at,\n  fetched_count,\n  created_at,\n  updated_at\n)\nVALUES (\n  $1,\n  $2,\n  now(),\n  $3,\n  now(),\n  now()\n)\nRETURNING id AS sync_run_id, entity_name, run_status, started_at, fetched_count;",
        "options": {
          "queryReplacement": "={{ 'companies' }},{{ 'running' }},{{ $json.count || 0 }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [3200, 1216],
      "id": "co000004-0000-0000-0000-000000000004",
      "name": "Postgres Create Company Sync Run",
      "credentials": {
        "postgres": {
          "id": "GYvpXC9qjk2dxxXA",
          "name": "Agent_tally"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [3424, 712],
      "id": "co000005-0000-0000-0000-000000000005",
      "name": "Merge HTTP + Sync Run"
    },
    {
      "parameters": {
        "jsCode": "const records = $json.records || [];\nconst syncRunId = $json.sync_run_id || null;\n\nif (records.length === 0) {\n  return [\n    {\n      json: {\n        __empty_batch: true,\n        count: 0,\n        records: [],\n        sync_run_id: syncRunId\n      }\n    }\n  ];\n}\n\nreturn records.map(record => ({\n  json: {\n    ...record,\n    sync_run_id: syncRunId\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3648, 712],
      "id": "co000006-0000-0000-0000-000000000006",
      "name": "Parse Company Records"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "co000007-cond-0001-0000-000000000007",
              "leftValue": "={{ $json.__empty_batch === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [3872, 712],
      "id": "co000007-0000-0000-0000-000000000007",
      "name": "IF Empty Company Batch?"
    },
    {
      "parameters": {
        "jsCode": "const syncRunId =\n  $json.sync_run_id ??\n  $(\"Postgres Create Company Sync Run\").first().json.sync_run_id ??\n  null;\n\nreturn [\n  {\n    json: {\n      sync_run_id: syncRunId,\n      run_status: \"success\",\n      fetched_count: 0,\n      staged_count: 0,\n      promoted_count: 0,\n      skipped_count: 0,\n      error_count: 0\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4096, 256],
      "id": "co000008-0000-0000-0000-000000000008",
      "name": "Build Empty Company Batch Summary"
    },
    {
      "parameters": {
        "jsCode": "const out = [];\nfor (const item of $input.all()) {\n  const row = item.json;\n  const sourceHash = [\n    row.erp_sync_id ?? '',\n    row.name ?? '',\n    row.trade_name ?? '',\n    row.type ?? '',\n    row.gstin ?? '',\n    row.tax_id ?? '',\n    row.pan ?? '',\n    row.cin ?? '',\n    row.tan ?? '',\n    row.address ?? '',\n    row.city ?? '',\n    row.state ?? '',\n    row.pincode ?? '',\n    row.phone ?? '',\n    row.email ?? '',\n    row.website ?? '',\n    row.fy_start ?? '',\n    row.currency ?? '',\n    row.books_from ?? '',\n    row.tally_company_name ?? '',\n    row.tally_license_serial ?? '',\n    row.tally_version ?? ''\n  ].join('|');\n  out.push({ json: { ...row, source_hash: sourceHash } });\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4096, 712],
      "id": "co000009-0000-0000-0000-000000000009",
      "name": "Add Company Source Hash"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO raw_tally_companies (\n  sync_run_id,\n  erp_sync_id,\n  name,\n  trade_name,\n  type,\n  gstin,\n  tax_id,\n  pan,\n  cin,\n  tan,\n  address,\n  city,\n  state,\n  pincode,\n  phone,\n  email,\n  website,\n  fy_start,\n  currency,\n  books_from,\n  tally_company_name,\n  tally_license_serial,\n  tally_version,\n  integration_params,\n  source_hash,\n  raw_payload,\n  fetched_at,\n  updated_at,\n  deleted_at\n)\nVALUES (\n  $1, $2, $3, $4, $5, $6, $7, $8, $9, $10,\n  $11, $12, $13, $14, $15, $16, $17, $18, $19, $20,\n  $21, $22, $23, $24::jsonb, $25, $26::jsonb,\n  now(), now(), null\n)\nON CONFLICT (erp_sync_id)\nDO UPDATE SET\n  sync_run_id = EXCLUDED.sync_run_id,\n  name = EXCLUDED.name,\n  trade_name = EXCLUDED.trade_name,\n  type = EXCLUDED.type,\n  gstin = EXCLUDED.gstin,\n  tax_id = EXCLUDED.tax_id,\n  pan = EXCLUDED.pan,\n  cin = EXCLUDED.cin,\n  tan = EXCLUDED.tan,\n  address = EXCLUDED.address,\n  city = EXCLUDED.city,\n  state = EXCLUDED.state,\n  pincode = EXCLUDED.pincode,\n  phone = EXCLUDED.phone,\n  email = EXCLUDED.email,\n  website = EXCLUDED.website,\n  fy_start = EXCLUDED.fy_start,\n  currency = EXCLUDED.currency,\n  books_from = EXCLUDED.books_from,\n  tally_company_name = EXCLUDED.tally_company_name,\n  tally_license_serial = EXCLUDED.tally_license_serial,\n  tally_version = EXCLUDED.tally_version,\n  integration_params = EXCLUDED.integration_params,\n  source_hash = EXCLUDED.source_hash,\n  raw_payload = EXCLUDED.raw_payload,\n  fetched_at = now(),\n  updated_at = now(),\n  deleted_at = null\nRETURNING id, erp_sync_id, name;",
        "options": {
          "queryReplacement": "={{ $json.sync_run_id }},{{ $json.erp_sync_id }},{{ $json.name }},{{ $json.trade_name }},{{ $json.type }},{{ $json.gstin }},{{ $json.tax_id }},{{ $json.pan }},{{ $json.cin }},{{ $json.tan }},{{ $json.address }},{{ $json.city }},{{ $json.state }},{{ $json.pincode }},{{ $json.phone }},{{ $json.email }},{{ $json.website }},{{ $json.fy_start }},{{ $json.currency }},{{ $json.books_from }},{{ $json.tally_company_name }},{{ $json.tally_license_serial }},{{ $json.tally_version }},{{ JSON.stringify($json.integration_params || {}) }},{{ $json.source_hash }},{{ JSON.stringify($json.raw_payload || {}) }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [4320, 712],
      "id": "co000010-0000-0000-0000-000000000010",
      "name": "Postgres Raw Stage Companies",
      "credentials": {
        "postgres": {
          "id": "GYvpXC9qjk2dxxXA",
          "name": "Agent_tally"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "co000011-cond-0001-0000-000000000011",
              "leftValue": "={{ $json.error !== undefined }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [4544, 712],
      "id": "co000011-0000-0000-0000-000000000011",
      "name": "IF Raw Stage Companies Failed"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO companies (\n  name,\n  trade_name,\n  type,\n  gstin,\n  tax_id,\n  pan,\n  cin,\n  tan,\n  address,\n  city,\n  state,\n  pincode,\n  phone,\n  email,\n  website,\n  fy_start,\n  currency,\n  books_from,\n  erp_sync_id,\n  integration_params,\n  tally_server_url,\n  tally_company_name,\n  tally_license_serial,\n  tally_version,\n  tally_port,\n  tally_auto_sync,\n  source_hash,\n  is_active,\n  created_at,\n  updated_at,\n  deleted_at\n)\nSELECT\n  r.name,\n  r.trade_name,\n  r.type,\n  r.gstin,\n  r.tax_id,\n  r.pan,\n  r.cin,\n  r.tan,\n  r.address,\n  r.city,\n  r.state,\n  r.pincode,\n  r.phone,\n  r.email,\n  r.website,\n  r.fy_start,\n  r.currency,\n  r.books_from,\n  r.erp_sync_id,\n  r.integration_params,\n  r.integration_params->>'tally_server_url',\n  r.tally_company_name,\n  r.tally_license_serial,\n  r.tally_version,\n  COALESCE((r.integration_params->>'tally_port')::integer, 9000),\n  true,\n  r.source_hash,\n  true,\n  now(),\n  now(),\n  null\nFROM raw_tally_companies r\nWHERE r.erp_sync_id = $1\nON CONFLICT (erp_sync_id)\nDO UPDATE SET\n  name = EXCLUDED.name,\n  trade_name = EXCLUDED.trade_name,\n  type = EXCLUDED.type,\n  gstin = EXCLUDED.gstin,\n  tax_id = EXCLUDED.tax_id,\n  pan = EXCLUDED.pan,\n  cin = EXCLUDED.cin,\n  tan = EXCLUDED.tan,\n  address = EXCLUDED.address,\n  city = EXCLUDED.city,\n  state = EXCLUDED.state,\n  pincode = EXCLUDED.pincode,\n  phone = EXCLUDED.phone,\n  email = EXCLUDED.email,\n  website = EXCLUDED.website,\n  fy_start = EXCLUDED.fy_start,\n  currency = EXCLUDED.currency,\n  books_from = EXCLUDED.books_from,\n  integration_params = EXCLUDED.integration_params,\n  tally_server_url = EXCLUDED.tally_server_url,\n  tally_company_name = EXCLUDED.tally_company_name,\n  tally_license_serial = EXCLUDED.tally_license_serial,\n  tally_version = EXCLUDED.tally_version,\n  tally_port = EXCLUDED.tally_port,\n  tally_auto_sync = true,\n  source_hash = EXCLUDED.source_hash,\n  is_active = true,\n  updated_at = now(),\n  deleted_at = null\nWHERE companies.source_hash IS DISTINCT FROM EXCLUDED.source_hash\nRETURNING id, erp_sync_id, name, source_hash;",
        "options": {
          "queryReplacement": "={{ $json.erp_sync_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [4768, 712],
      "id": "co000012-0000-0000-0000-000000000012",
      "name": "Postgres Promote Companies",
      "credentials": {
        "postgres": {
          "id": "GYvpXC9qjk2dxxXA",
          "name": "Agent_tally"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "co000013-cond-0001-0000-000000000013",
              "leftValue": "={{ $json.error !== undefined }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [4992, 712],
      "id": "co000013-0000-0000-0000-000000000013",
      "name": "IF Promote Companies Failed"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [5216, 832],
      "id": "co000019-0000-0000-0000-000000000019",
      "name": "Merge Fail Path"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (items.length === 0) {\n  return [{ json: { __success_branch: true } }];\n}\nreturn items.map(i => ({ json: { ...i.json, __success_branch: true } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5216, 560],
      "id": "co000014-0000-0000-0000-000000000014",
      "name": "Merge Company Success Path"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [5440, 560],
      "id": "co000015-0000-0000-0000-000000000015",
      "name": "Merge Final Success + Sync Run"
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\n\nconst syncRunItem = allItems.find(i => i.json.sync_run_id !== undefined);\nconst syncRunId = syncRunItem?.json?.sync_run_id ?? null;\n\nconst fetchedCount = Number($(\"HTTP Request\").first().json.count || 0);\n\nconst staged = (() => {\n  try { return $(\"Postgres Raw Stage Companies\").all().length; }\n  catch(e) { return 0; }\n})();\n\nconst promoted = (() => {\n  try {\n    return $(\"Postgres Promote Companies\").all().filter(item => {\n      const j = item.json || {};\n      return !!(j.id || j.erp_sync_id || j.name);\n    }).length;\n  } catch(e) { return 0; }\n})();\n\nconst skipped = Math.max(fetchedCount - promoted, 0);\n\nreturn [\n  {\n    json: {\n      sync_run_id: syncRunId,\n      run_status: \"success\",\n      fetched_count: fetchedCount,\n      staged_count: staged,\n      promoted_count: promoted,\n      skipped_count: skipped,\n      error_count: 0\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5664, 560],
      "id": "co000016-0000-0000-0000-000000000016",
      "name": "Build Company Sync Summary"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE sync_runs\nSET\n  run_status = $2,\n  completed_at = now(),\n  fetched_count = $3,\n  staged_count = $4,\n  promoted_count = $5,\n  skipped_count = $6,\n  error_count = $7,\n  updated_at = now()\nWHERE id = $1\nRETURNING id, entity_name, run_status, completed_at, fetched_count, staged_count, promoted_count, skipped_count, error_count;",
        "options": {
          "queryReplacement": "={{ $json.sync_run_id }},{{ $json.run_status }},{{ $json.fetched_count }},{{ $json.staged_count }},{{ $json.promoted_count }},{{ $json.skipped_count }},{{ $json.error_count }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [5888, 460],
      "id": "co000017-0000-0000-0000-000000000017",
      "name": "Postgres Complete Company Sync Run",
      "credentials": {
        "postgres": {
          "id": "GYvpXC9qjk2dxxXA",
          "name": "Agent_tally"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH deactivated AS (\n  UPDATE companies c\n  SET\n    is_active = false,\n    deleted_at = now(),\n    updated_at = now()\n  WHERE c.erp_sync_id IS NOT NULL\n    AND c.is_active = true\n    AND NOT EXISTS (\n      SELECT 1\n      FROM raw_tally_companies r\n      WHERE r.erp_sync_id = c.erp_sync_id\n        AND r.sync_run_id = $1\n        AND r.deleted_at IS NULL\n    )\n  RETURNING c.id AS company_id\n)\nSELECT $1::text AS id, COUNT(*) AS deactivated_count FROM deactivated;",
        "options": {
          "queryReplacement": "={{ $json.id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [6112, 460],
      "id": "co000018-0000-0000-0000-000000000018",
      "name": "Postgres Reconcile Missing Companies",
      "credentials": {
        "postgres": {
          "id": "GYvpXC9qjk2dxxXA",
          "name": "Agent_tally"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH reactivated AS (\n  UPDATE companies c\n  SET\n    is_active = true,\n    deleted_at = null,\n    updated_at = now()\n  FROM raw_tally_companies r\n  WHERE r.erp_sync_id = c.erp_sync_id\n    AND c.erp_sync_id IS NOT NULL\n    AND r.sync_run_id = $1\n    AND r.deleted_at IS NULL\n    AND (c.is_active = false OR c.deleted_at IS NOT NULL)\n  RETURNING c.id AS company_id\n)\nSELECT $1::text AS id, COUNT(*) AS reactivated_count FROM reactivated;",
        "options": {
          "queryReplacement": "={{ $json.id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [6336, 460],
      "id": "co000019b-000-0000-0000-000000000019",
      "name": "Postgres Reactivate Reappeared Companies",
      "credentials": {
        "postgres": {
          "id": "GYvpXC9qjk2dxxXA",
          "name": "Agent_tally"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE sync_runs\nSET\n  run_status = $2,\n  completed_at = now(),\n  error_count = $3,\n  error_message = $4,\n  updated_at = now()\nWHERE id = $1\nRETURNING id, entity_name, run_status, completed_at, error_count, error_message;",
        "options": {
          "queryReplacement": "={{ $json.sync_run_id || $json.id }},{{ 'failed' }},{{ 1 }},{{ $json.error?.description || $json.error?.message || 'workflow_failed' }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [5440, 832],
      "id": "co000020-0000-0000-0000-000000000020",
      "name": "Postgres Fail Company Sync Run",
      "credentials": {
        "postgres": {
          "id": "GYvpXC9qjk2dxxXA",
          "name": "Agent_tally"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Postgres Create Company Sync Run",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge HTTP + Sync Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Create Company Sync Run": {
      "main": [
        [
          {
            "node": "Merge HTTP + Sync Run",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge Fail Path",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge Final Success + Sync Run",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge HTTP + Sync Run": {
      "main": [
        [
          {
            "node": "Parse Company Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Company Records": {
      "main": [
        [
          {
            "node": "IF Empty Company Batch?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Empty Company Batch?": {
      "main": [
        [
          {
            "node": "Build Empty Company Batch Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Company Source Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Empty Company Batch Summary": {
      "main": [
        [
          {
            "node": "Postgres Complete Company Sync Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Company Source Hash": {
      "main": [
        [
          {
            "node": "Postgres Raw Stage Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Raw Stage Companies": {
      "main": [
        [
          {
            "node": "IF Raw Stage Companies Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Raw Stage Companies Failed": {
      "main": [
        [
          {
            "node": "Merge Fail Path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres Promote Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Promote Companies": {
      "main": [
        [
          {
            "node": "IF Promote Companies Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Promote Companies Failed": {
      "main": [
        [
          {
            "node": "Merge Fail Path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Company Success Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Company Success Path": {
      "main": [
        [
          {
            "node": "Merge Final Success + Sync Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Final Success + Sync Run": {
      "main": [
        [
          {
            "node": "Build Company Sync Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Company Sync Summary": {
      "main": [
        [
          {
            "node": "Postgres Complete Company Sync Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Complete Company Sync Run": {
      "main": [
        [
          {
            "node": "Postgres Reconcile Missing Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Reconcile Missing Companies": {
      "main": [
        [
          {
            "node": "Postgres Reactivate Reappeared Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Fail Path": {
      "main": [
        [
          {
            "node": "Postgres Fail Company Sync Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "co000001-vers-0001-0000-000000000001",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fin-iq-company-sync-v1"
  },
  "id": "co000001-wkfl-0001-0000-000000000001",
  "tags": []
}
