Agent_Fin_IQ/tally-bridge/n8njson/Ledger-Vendor-Tally_sync-Fin-IQ-agent.json
{
  "name": "Ledger-Vendor-Tally_sync-Fin-IQ-agent",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        2528,
        712
      ],
      "id": "2ae94b95-c8c1-40e3-ade8-0e00fb7ef571",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "lv000002-asgn-0001-0000-000000000001",
              "name": "tally_url",
              "value": "https://aphetically-nonaccompanying-hye.ngrok-free.dev",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2752,
        712
      ],
      "id": "54b74903-a953-4875-b3d3-dc51e3877b70",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.tally_url.trim() }}/tally/ledgers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "ngrok-skip-browser-warning",
              "value": "1"
            },
            {
              "name": "x-api-key",
              "value": "WXuQeIpMOjxTkCsP1azLo9l0NB7GZqvUtSV6d42Jm3YhHwrE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2976,
        712
      ],
      "id": "bb353fbe-7515-42ec-a92c-7b151748d009",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sync_runs (\n  entity_name,\n  run_status,\n  started_at,\n  fetched_count,\n  created_at,\n  updated_at\n)\nVALUES (\n  $1,\n  $2,\n  now(),\n  $3,\n  now(),\n  now()\n)\nRETURNING id AS sync_run_id, entity_name, run_status, started_at, fetched_count;",
        "options": {
          "queryReplacement": "={{ 'ledgers_and_vendors' }},{{ 'running' }},{{ $json.count || 0 }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3200,
        1216
      ],
      "id": "a88eebcb-107f-4695-b247-ab905560fa1a",
      "name": "Postgres Create Sync Run",
      "credentials": {
        "postgres": {
          "id": "GYvpXC9qjk2dxxXA",
          "name": "Agent_tally"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3424,
        592
      ],
      "id": "5d541994-6f30-4718-9757-e73d8e02d028",
      "name": "Merge HTTP + Sync Run"
    },
    {
      "parameters": {
        "jsCode": "const records = $json.records || [];\nconst syncRunId = $json.sync_run_id || null;\n\nif (records.length === 0) {\n  return [\n    {\n      json: {\n        __empty_batch: true,\n        count: 0,\n        records: [],\n        sync_run_id: syncRunId\n      }\n    }\n  ];\n}\n\nreturn records.map(record => ({\n  json: {\n    ...record,\n    sync_run_id: syncRunId\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3648,
        592
      ],
      "id": "5b44513d-e980-4334-b548-62c2ad90fcd9",
      "name": "Parse Bridge Records"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "lv000007-cond-0001-0000-000000000007",
              "leftValue": "={{ $json.__empty_batch === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3872,
        592
      ],
      "id": "481cb65e-050d-480e-8bd3-c0ffca61f612",
      "name": "IF Empty Batch?"
    },
    {
      "parameters": {
        "jsCode": "const syncRunId =\n  $json.sync_run_id ??\n  $(\"Postgres Create Sync Run\").first().json.sync_run_id ??\n  null;\n\nreturn [\n  {\n    json: {\n      sync_run_id: syncRunId,\n      run_status: \"success\",\n      fetched_count: 0,\n      staged_count: 0,\n      promoted_count: 0,\n      skipped_count: 0,\n      error_count: 0\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6112,
        256
      ],
      "id": "9d08b232-50c7-4792-ba70-1846fe5f4a96",
      "name": "Build Empty Batch Summary"
    },
    {
      "parameters": {
        "jsCode": "const ledgerItems = [];\nconst vendorItems = [];\n\nfor (const item of $input.all()) {\n  const pg = item.json.parent_group || '';\n  if (pg.trim() === 'Sundry Creditors') {\n    vendorItems.push(item);\n  } else {\n    ledgerItems.push(item);\n  }\n}\n\n// Return ledger items on output 0, vendor items on output 1\n// n8n Code node only supports one output, so we return both with a type marker\nconst out = [];\nfor (const i of ledgerItems) {\n  out.push({ json: { ...i.json, __entity_type: 'ledger' } });\n}\nfor (const i of vendorItems) {\n  out.push({ json: { ...i.json, __entity_type: 'vendor' } });\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4096,
        688
      ],
      "id": "f47e70ff-9aeb-4b32-93c4-9a9b75810f2e",
      "name": "Split Ledgers vs Vendors"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "lv000010-cond-0001-0000-000000000010",
              "leftValue": "={{ $json.__entity_type }}",
              "rightValue": "ledger",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4320,
        688
      ],
      "id": "44e74dfa-7271-4fce-b2b2-75e9b2f9004d",
      "name": "Route by Entity Type"
    },
    {
      "parameters": {
        "jsCode": "const out = [];\nfor (const item of $input.all()) {\n  const row = item.json;\n  const gst = row.gst_details || {};\n  const sourceHash = [\n    row.erp_sync_id ?? '',\n    row.ledger_code ?? '',\n    row.name ?? '',\n    row.account_type ?? '',\n    row.parent_group ?? '',\n    gst.party_gstin ?? '',\n    gst.gst_registration_type ?? '',\n    gst.income_tax_number ?? '',\n    gst.is_billwise_on ?? ''\n  ].join('|');\n  out.push({ json: { ...row, source_hash: sourceHash } });\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4544,
        472
      ],
      "id": "af7af20f-2712-4268-8273-605940326303",
      "name": "Add Ledger Source Hash"
    },
    {
      "parameters": {
        "jsCode": "// Safe value extractor: handles null, object with #text, array, plain string\nfunction tv(val) {\n  if (val === null || val === undefined) return null;\n  if (Array.isArray(val)) {\n    const parts = val.map(tv).filter(v => v !== null && v !== '');\n    return parts.length > 0 ? parts.join(', ') : null;\n  }\n  if (typeof val === 'object') {\n    if ('#text' in val) {\n      const t = String(val['#text']).trim();\n      return t === '' ? null : t;\n    }\n    return null;\n  }\n  const s = String(val).trim();\n  return s === '' ? null : s;\n}\n\n// Address flattener: supports ADDRESS.LIST shapes\nfunction extractAddress(addrList) {\n  if (addrList === null || addrList === undefined) return null;\n  if (typeof addrList === 'string') {\n    const s = addrList.trim();\n    return s === '' ? null : s;\n  }\n  if (Array.isArray(addrList)) {\n    const parts = addrList.map(a => {\n      if (typeof a === 'object' && a !== null) {\n        return tv(a['ADDRESS']) ?? tv(a['#text']) ?? null;\n      }\n      return tv(a);\n    }).filter(v => v !== null && v !== '');\n    return parts.length > 0 ? parts.join(', ') : null;\n  }\n  if (typeof addrList === 'object') {\n    const inner = addrList['ADDRESS'];\n    if (inner !== undefined) {\n      if (Array.isArray(inner)) {\n        const parts = inner.map(tv).filter(v => v !== null && v !== '');\n        return parts.length > 0 ? parts.join(', ') : null;\n      }\n      return tv(inner);\n    }\n    return tv(addrList['#text']) ?? null;\n  }\n  return null;\n}\n\nconst out = [];\nfor (const item of $input.all()) {\n  const row = item.json;\n  const gst = row.gst_details || {};\n  const raw = row.raw_payload || {};\n\n  const vendorCode = null;\n\n  // gstin: prefer raw PARTYGSTIN, fall back to gst_details\n  const gstin = tv(raw['PARTYGSTIN']) ?? tv(gst.party_gstin) ?? null;\n\n  // tax_id from INCOMETAXNUMBER in raw payload first, then gst_details\n  const taxId = tv(raw['INCOMETAXNUMBER']) ?? tv(gst.income_tax_number) ?? null;\n\n  const underGroup = row.parent_group ?? null;\n  const tallyLedgerName = row.name ?? null;\n\n  const address =   extractAddress(raw['ADDRESS.LIST'])?.replace(/,/g, ' ') ?? null;\n  const pincode = tv(raw['PINCODE']);\n  const state = tv(raw['LEDGERSTATENAME']);\n  const phone   = tv(raw['LEDGERPHONE']);\n  const email   = tv(raw['EMAIL']);\n\n  const sourceHash = [\n    row.erp_sync_id ?? '',\n    vendorCode ?? '',\n    row.name ?? '',\n    gstin ?? '',\n    taxId ?? '',\n    underGroup ?? '',\n    state ?? '',\n    address ?? '',\n    '',\n    '',\n    pincode ?? '',\n    phone ?? '',\n    email ?? '',\n    tallyLedgerName ?? '',\n    ''\n  ].join('|');\n\n  out.push({\n    json: {\n      sync_run_id: row.sync_run_id,\n      erp_sync_id: row.erp_sync_id,\n      vendor_code: vendorCode,\n      name: row.name ?? null,\n      gstin: gstin,\n      tax_id: taxId,\n      under_group: underGroup,\n      state: state,\n      address: address,\n      pan: null,\n      city: null,\n      pincode: pincode,\n      phone: phone,\n      email: email,\n      tally_ledger_name: tallyLedgerName,\n      alias: null,\n      source_hash: sourceHash,\n      raw_payload: raw\n    }\n  });\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4544,
        904
      ],
      "id": "0df722a7-4a3b-4de0-927d-9a3145a43d01",
      "name": "Add Vendor Source Hash"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO raw_tally_ledger_master (\n  sync_run_id,\n  erp_sync_id,\n  ledger_code,\n  name,\n  account_type,\n  parent_group,\n  is_active,\n  gst_details,\n  source_hash,\n  raw_payload,\n  fetched_at,\n  updated_at,\n  deleted_at\n)\nVALUES (\n  $1,\n  $2,\n  $3,\n  $4,\n  $5,\n  $6,\n  true,\n  $7::jsonb,\n  $8,\n  $9::jsonb,\n  now(),\n  now(),\n  null\n)\nON CONFLICT (erp_sync_id)\nDO UPDATE SET\n  sync_run_id = EXCLUDED.sync_run_id,\n  ledger_code = EXCLUDED.ledger_code,\n  name = EXCLUDED.name,\n  account_type = EXCLUDED.account_type,\n  parent_group = EXCLUDED.parent_group,\n  is_active = true,\n  gst_details = EXCLUDED.gst_details,\n  source_hash = EXCLUDED.source_hash,\n  raw_payload = EXCLUDED.raw_payload,\n  fetched_at = now(),\n  updated_at = now(),\n  deleted_at = null\nRETURNING id, erp_sync_id, name;",
        "options": {
          "queryReplacement": "={{ $json.sync_run_id }},{{ $json.erp_sync_id }},{{ $json.ledger_code }},{{ $json.name }},{{ $json.account_type }},{{ $json.parent_group }},{{ JSON.stringify($json.gst_details || {}) }},{{ $json.source_hash }},{{ JSON.stringify($json.raw_payload || {}) }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4768,
        472
      ],
      "id": "78c61645-7179-41d9-a49c-87a1789f7b0d",
      "name": "Postgres Raw Stage Ledgers",
      "credentials": {
        "postgres": {
          "id": "GYvpXC9qjk2dxxXA",
          "name": "Agent_tally"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO raw_tally_vendors (\n  sync_run_id,\n  erp_sync_id,\n  vendor_code,\n  name,\n  gstin,\n  tax_id,\n  under_group,\n  state,\n  address,\n  pan,\n  city,\n  pincode,\n  phone,\n  email,\n  tally_ledger_name,\n  alias,\n  source_hash,\n  raw_payload,\n  fetched_at,\n  updated_at,\n  deleted_at\n)\nVALUES (\n  $1,\n  $2,\n  $3,\n  $4,\n  $5,\n  $6,\n  $7,\n  $8,\n  $9,\n  $10,\n  $11,\n  $12,\n  $13,\n  $14,\n  $15,\n  $16,\n  $17,\n  $18,\n  now(),\n  now(),\n  null\n)\nON CONFLICT (erp_sync_id)\nDO UPDATE SET\n  sync_run_id = EXCLUDED.sync_run_id,\n  vendor_code = EXCLUDED.vendor_code,\n  name = EXCLUDED.name,\n  gstin = EXCLUDED.gstin,\n  tax_id = EXCLUDED.tax_id,\n  under_group = EXCLUDED.under_group,\n  state = EXCLUDED.state,\n  address = EXCLUDED.address,\n  pan = EXCLUDED.pan,\n  city = EXCLUDED.city,\n  pincode = EXCLUDED.pincode,\n  phone = EXCLUDED.phone,\n  email = EXCLUDED.email,\n  tally_ledger_name = EXCLUDED.tally_ledger_name,\n  alias = EXCLUDED.alias,\n  source_hash = EXCLUDED.source_hash,\n  raw_payload = EXCLUDED.raw_payload,\n  fetched_at = now(),\n  updated_at = now(),\n  deleted_at = null\nRETURNING id, erp_sync_id, name;",
        "options": {
          "queryReplacement": "={{ $json.sync_run_id }},\n{{ $json.erp_sync_id }},\n{{ $json.vendor_code }},\n{{ $json.name }},\n{{ $json.gstin }},\n{{ $json.tax_id }},\n{{ $json.under_group }},\n{{ $json.state }},\n{{ $json.address }},\n{{ $json.pan }},\n{{ $json.city }},\n{{ $json.pincode }},\n{{ $json.phone }},\n{{ $json.email }},\n{{ $json.tally_ledger_name }},\n{{ $json.alias }},\n{{ $json.source_hash }},\n{{ JSON.stringify($json.raw_payload || {}) }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4768,
        904
      ],
      "id": "fb99cb60-a449-4229-b624-0ae8a195a5f3",
      "name": "Postgres Raw Stage Vendors",
      "credentials": {
        "postgres": {
          "id": "GYvpXC9qjk2dxxXA",
          "name": "Agent_tally"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ledger_master (\n  company_id,\n  ledger_code,\n  name,\n  account_type,\n  erp_sync_id,\n  parent_group,\n  is_active,\n  gst_details,\n  source_hash,\n  synced_at,\n  created_at,\n  updated_at,\n  deleted_at\n)\nSELECT\n  null AS company_id,\n  r.ledger_code,\n  r.name,\n  r.account_type,\n  r.erp_sync_id,\n  r.parent_group,\n  true,\n  r.gst_details,\n  r.source_hash,\n  now(),\n  now(),\n  now(),\n  null\nFROM raw_tally_ledger_master r\nWHERE r.erp_sync_id = $1\n  AND COALESCE(r.parent_group, '') != 'Sundry Creditors'\nON CONFLICT (erp_sync_id)\nDO UPDATE SET\n  ledger_code = EXCLUDED.ledger_code,\n  name = EXCLUDED.name,\n  account_type = EXCLUDED.account_type,\n  parent_group = EXCLUDED.parent_group,\n  is_active = true,\n  gst_details = EXCLUDED.gst_details,\n  source_hash = EXCLUDED.source_hash,\n  synced_at = now(),\n  updated_at = now(),\n  deleted_at = null\nWHERE ledger_master.source_hash IS DISTINCT FROM EXCLUDED.source_hash\nRETURNING id, erp_sync_id, name, source_hash;",
        "options": {
          "queryReplacement": "={{ $json.erp_sync_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5216,
        448
      ],
      "id": "81ba6a9c-6df2-40c8-86fa-fac4659979ee",
      "name": "Postgres Promote Ledgers",
      "credentials": {
        "postgres": {
          "id": "GYvpXC9qjk2dxxXA",
          "name": "Agent_tally"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO vendors (\n  company_id,\n  vendor_code,\n  name,\n  gstin,\n  tax_id,\n  under_group,\n  state,\n  address,\n  pan,\n  city,\n  pincode,\n  phone,\n  email,\n  tally_ledger_name,\n  alias,\n  erp_sync_id,\n  status,\n  is_synced_from_tally,\n  source_hash,\n  created_at,\n  updated_at,\n  deleted_at\n)\nSELECT\n  null AS company_id,\n  r.vendor_code,\n  r.name,\n  r.gstin,\n  r.tax_id,\n  r.under_group,\n  r.state,\n  r.address,\n  r.pan,\n  r.city,\n  r.pincode,\n  r.phone,\n  r.email,\n  r.tally_ledger_name,\n  r.alias,\n  r.erp_sync_id,\n  'Active',\n  true,\n  r.source_hash,\n  now(),\n  now(),\n  null\nFROM raw_tally_vendors r\nWHERE r.erp_sync_id = $1\nON CONFLICT (erp_sync_id)\nDO UPDATE SET\n  vendor_code = EXCLUDED.vendor_code,\n  name = EXCLUDED.name,\n  gstin = EXCLUDED.gstin,\n  tax_id = EXCLUDED.tax_id,\n  under_group = EXCLUDED.under_group,\n  state = EXCLUDED.state,\n  address = EXCLUDED.address,\n  pan = EXCLUDED.pan,\n  city = EXCLUDED.city,\n  pincode = EXCLUDED.pincode,\n  phone = EXCLUDED.phone,\n  email = EXCLUDED.email,\n  tally_ledger_name = EXCLUDED.tally_ledger_name,\n  alias = EXCLUDED.alias,\n  status = 'Active',\n  is_synced_from_tally = true,\n  source_hash = EXCLUDED.source_hash,\n  updated_at = now(),\n  deleted_at = null\nWHERE vendors.source_hash IS DISTINCT FROM EXCLUDED.source_hash\nRETURNING id, erp_sync_id, name, source_hash;",
        "options": {
          "queryReplacement": "={{ $json.erp_sync_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5216,
        784
      ],
      "id": "93e90dc3-6fc5-420a-a275-2183b1df8d52",
      "name": "Postgres Promote Vendors",
      "credentials": {
        "postgres": {
          "id": "GYvpXC9qjk2dxxXA",
          "name": "Agent_tally"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "lv000017-cond-0001-0000-000000000017",
              "leftValue": "={{ $json.error !== undefined }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5440,
        448
      ],
      "id": "ab96aa9e-48ed-4a9c-b72b-f39479f416dc",
      "name": "IF Promote Ledgers Failed"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "lv000018-cond-0001-0000-000000000018",
              "leftValue": "={{ $json.error !== undefined }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5440,
        784
      ],
      "id": "4b8c0d69-293c-43c7-b67e-dc21909e2699",
      "name": "IF Promote Vendors Failed"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        5664,
        832
      ],
      "id": "d066dd4e-3be5-4bb9-ab4e-2bcf3f8717c2",
      "name": "Merge Fail Path"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE sync_runs\nSET\n  run_status = $2,\n  completed_at = now(),\n  error_count = $3,\n  error_message = $4,\n  updated_at = now()\nWHERE id = $1\nRETURNING id, entity_name, run_status, completed_at, error_count, error_message;",
        "options": {
          "queryReplacement": "={{ $json.sync_run_id || $json.id }},{{ 'failed' }},{{ 1 }},{{ $json.error?.description || $json.error?.message || 'workflow_failed' }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5888,
        832
      ],
      "id": "d9c4412a-050b-4c46-903c-05c6ba608dff",
      "name": "Postgres Fail Sync Run",
      "credentials": {
        "postgres": {
          "id": "GYvpXC9qjk2dxxXA",
          "name": "Agent_tally"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Safe success join: collect whatever arrived (ledger success, vendor success, or both)\n// Pass through the first item found - sync_run_id will be injected by the final merge\nconst items = $input.all();\nif (items.length === 0) {\n  return [{ json: { __success_branch: true } }];\n}\nreturn items.map(i => ({ json: { ...i.json, __success_branch: true } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5664,
        520
      ],
      "id": "e2ffd494-fad6-4d70-a106-a5349ce8fcc7",
      "name": "Merge Both Success Paths"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        5888,
        520
      ],
      "id": "71816905-ecac-41ea-b402-047af2de5427",
      "name": "Merge Final Success + Sync Run"
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\n\nconst syncRunItem = allItems.find(i => i.json.sync_run_id !== undefined);\nconst syncRunId = syncRunItem?.json?.sync_run_id ?? null;\n\nconst fetchedCount = Number($(\"HTTP Request\").first().json.count || 0);\n\nconst ledgerStaged = (() => { try { return $(\"Postgres Raw Stage Ledgers\").all().length; } catch(e) { return 0; } })();\nconst vendorStaged = (() => { try { return $(\"Postgres Raw Stage Vendors\").all().length; } catch(e) { return 0; } })();\nconst stagedCount = ledgerStaged + vendorStaged;\n\nconst ledgerPromoted = (() => {\n  try {\n    return $(\"Postgres Promote Ledgers\").all().filter(item => {\n      const j = item.json || {};\n      return !!(j.id || j.erp_sync_id || j.name);\n    }).length;\n  } catch(e) { return 0; }\n})();\n\nconst vendorPromoted = (() => {\n  try {\n    return $(\"Postgres Promote Vendors\").all().filter(item => {\n      const j = item.json || {};\n      return !!(j.id || j.erp_sync_id || j.name);\n    }).length;\n  } catch(e) { return 0; }\n})();\n\nconst promotedCount = ledgerPromoted + vendorPromoted;\nconst skippedCount = Math.max(fetchedCount - promotedCount, 0);\n\nreturn [\n  {\n    json: {\n      sync_run_id: syncRunId,\n      run_status: \"success\",\n      fetched_count: fetchedCount,\n      staged_count: stagedCount,\n      promoted_count: promotedCount,\n      skipped_count: skippedCount,\n      error_count: 0\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6112,
        520
      ],
      "id": "32b1968f-5cd0-4e9c-9675-afb937f01f33",
      "name": "Build Sync Summary"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE sync_runs\nSET\n  run_status = $2,\n  completed_at = now(),\n  fetched_count = $3,\n  staged_count = $4,\n  promoted_count = $5,\n  skipped_count = $6,\n  error_count = $7,\n  updated_at = now()\nWHERE id = $1\nRETURNING id, entity_name, run_status, completed_at, fetched_count, staged_count, promoted_count, skipped_count, error_count;",
        "options": {
          "queryReplacement": "={{ $json.sync_run_id }},{{ $json.run_status }},{{ $json.fetched_count }},{{ $json.staged_count }},{{ $json.promoted_count }},{{ $json.skipped_count }},{{ $json.error_count }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6336,
        424
      ],
      "id": "77344414-cc03-40bb-a303-612414e5113a",
      "name": "Postgres Complete Sync Run",
      "credentials": {
        "postgres": {
          "id": "GYvpXC9qjk2dxxXA",
          "name": "Agent_tally"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH deactivated AS (\n  UPDATE ledger_master l\n  SET\n    is_active = false,\n    deleted_at = now(),\n    updated_at = now()\n  WHERE l.erp_sync_id IS NOT NULL\n    AND l.is_active = true\n    AND NOT EXISTS (\n      SELECT 1\n      FROM raw_tally_ledger_master r\n      WHERE r.erp_sync_id = l.erp_sync_id\n        AND r.sync_run_id = $1\n        AND r.is_active = true\n    )\n  RETURNING l.id AS ledger_id\n)\nSELECT $1::text AS id, COUNT(*) AS deactivated_count FROM deactivated;",
        "options": {
          "queryReplacement": "={{ $json.id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6560,
        424
      ],
      "id": "9817da50-7a63-4d80-9350-f2e47c65460a",
      "name": "Postgres Reconcile Missing Ledgers",
      "credentials": {
        "postgres": {
          "id": "GYvpXC9qjk2dxxXA",
          "name": "Agent_tally"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH reactivated AS (\n  UPDATE ledger_master l\n  SET\n    is_active = true,\n    deleted_at = null,\n    updated_at = now()\n  FROM raw_tally_ledger_master r\n  WHERE r.erp_sync_id = l.erp_sync_id\n    AND l.erp_sync_id IS NOT NULL\n    AND r.sync_run_id = $1\n    AND r.is_active = true\n    AND (l.is_active = false OR l.deleted_at IS NOT NULL)\n  RETURNING l.id AS ledger_id\n)\nSELECT $1::text AS id, COUNT(*) AS reactivated_count FROM reactivated;",
        "options": {
          "queryReplacement": "={{ $json.id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6784,
        424
      ],
      "id": "29daccf3-61d2-43fb-ac09-8e69fa302e28",
      "name": "Postgres Reactivate Reappeared Ledgers",
      "credentials": {
        "postgres": {
          "id": "GYvpXC9qjk2dxxXA",
          "name": "Agent_tally"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH deactivated AS (\n  UPDATE vendors v\n  SET\n    status = 'Inactive',\n    deleted_at = now(),\n    updated_at = now()\n  WHERE v.erp_sync_id IS NOT NULL\n    AND v.is_synced_from_tally = true\n    AND (v.status = 'Active' OR v.deleted_at IS NULL)\n    AND NOT EXISTS (\n      SELECT 1\n      FROM raw_tally_vendors r\n      WHERE r.erp_sync_id = v.erp_sync_id\n        AND r.sync_run_id = $1\n        AND r.deleted_at IS NULL\n    )\n  RETURNING v.id AS vendor_id\n)\nSELECT $1::text AS id, COUNT(*) AS deactivated_count FROM deactivated;",
        "options": {
          "queryReplacement": "={{ $json.id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        7008,
        424
      ],
      "id": "ed6acb61-5533-4c40-91d7-22894103c3e7",
      "name": "Postgres Reconcile Missing Vendors",
      "credentials": {
        "postgres": {
          "id": "GYvpXC9qjk2dxxXA",
          "name": "Agent_tally"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH reactivated AS (\n  UPDATE vendors v\n  SET\n    status = 'Active',\n    deleted_at = null,\n    is_synced_from_tally = true,\n    updated_at = now()\n  FROM raw_tally_vendors r\n  WHERE r.erp_sync_id = v.erp_sync_id\n    AND v.erp_sync_id IS NOT NULL\n    AND r.sync_run_id = $1\n    AND r.deleted_at IS NULL\n    AND (v.status != 'Active' OR v.deleted_at IS NOT NULL)\n  RETURNING v.id AS vendor_id\n)\nSELECT $1::text AS id, COUNT(*) AS reactivated_count FROM reactivated;",
        "options": {
          "queryReplacement": "={{ $json.id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        7232,
        424
      ],
      "id": "b43a2e89-be5f-4d69-a108-ea582e4cc764",
      "name": "Postgres Reactivate Reappeared Vendors",
      "credentials": {
        "postgres": {
          "id": "GYvpXC9qjk2dxxXA",
          "name": "Agent_tally"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "lv000029-cond-0001-0000-000000000029",
              "leftValue": "={{ $json.error !== undefined }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4992,
        472
      ],
      "id": "a0c9ef59-0866-47c3-a16d-b8c9605dd829",
      "name": "IF Raw Stage Ledgers Failed"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "lv000030-cond-0001-0000-000000000030",
              "leftValue": "={{ $json.error !== undefined }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4992,
        904
      ],
      "id": "b74c2dfd-127f-4660-a743-5e61f85ac20f",
      "name": "IF Raw Stage Vendors Failed"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Postgres Create Sync Run",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge HTTP + Sync Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Create Sync Run": {
      "main": [
        [
          {
            "node": "Merge HTTP + Sync Run",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge Fail Path",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge Final Success + Sync Run",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge HTTP + Sync Run": {
      "main": [
        [
          {
            "node": "Parse Bridge Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Bridge Records": {
      "main": [
        [
          {
            "node": "IF Empty Batch?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Empty Batch?": {
      "main": [
        [
          {
            "node": "Build Empty Batch Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Ledgers vs Vendors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Empty Batch Summary": {
      "main": [
        [
          {
            "node": "Postgres Complete Sync Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Ledgers vs Vendors": {
      "main": [
        [
          {
            "node": "Route by Entity Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Entity Type": {
      "main": [
        [
          {
            "node": "Add Ledger Source Hash",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Vendor Source Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Ledger Source Hash": {
      "main": [
        [
          {
            "node": "Postgres Raw Stage Ledgers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Vendor Source Hash": {
      "main": [
        [
          {
            "node": "Postgres Raw Stage Vendors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Raw Stage Ledgers": {
      "main": [
        [
          {
            "node": "IF Raw Stage Ledgers Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Raw Stage Vendors": {
      "main": [
        [
          {
            "node": "IF Raw Stage Vendors Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Promote Ledgers": {
      "main": [
        [
          {
            "node": "IF Promote Ledgers Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Promote Vendors": {
      "main": [
        [
          {
            "node": "IF Promote Vendors Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Promote Ledgers Failed": {
      "main": [
        [
          {
            "node": "Merge Fail Path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Both Success Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Promote Vendors Failed": {
      "main": [
        [
          {
            "node": "Merge Fail Path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Both Success Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Fail Path": {
      "main": [
        [
          {
            "node": "Postgres Fail Sync Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Both Success Paths": {
      "main": [
        [
          {
            "node": "Merge Final Success + Sync Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Final Success + Sync Run": {
      "main": [
        [
          {
            "node": "Build Sync Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Sync Summary": {
      "main": [
        [
          {
            "node": "Postgres Complete Sync Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Complete Sync Run": {
      "main": [
        [
          {
            "node": "Postgres Reconcile Missing Ledgers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Reconcile Missing Ledgers": {
      "main": [
        [
          {
            "node": "Postgres Reactivate Reappeared Ledgers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Reactivate Reappeared Ledgers": {
      "main": [
        [
          {
            "node": "Postgres Reconcile Missing Vendors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Reconcile Missing Vendors": {
      "main": [
        [
          {
            "node": "Postgres Reactivate Reappeared Vendors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Raw Stage Ledgers Failed": {
      "main": [
        [
          {
            "node": "Merge Fail Path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres Promote Ledgers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Raw Stage Vendors Failed": {
      "main": [
        [
          {
            "node": "Merge Fail Path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres Promote Vendors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0a687e68-60b8-4b9e-a916-cc57ad14454a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "efab2e9dc1db8cc420ffe9bbd11ae5ba3202dae3fbfe8966fafb758e0336e98a"
  },
  "id": "rW5ZDyoeKjxgV202",
  "tags": []
}